<a id="advanced_api" name="advanced_api" class="section-anchor"></a>
<h2>Advanced Core API Features</h2>
<h3>Credit Card Security Features</h3>
<p>
  To use the Client API Credit Card security features, you will need to use the full constructor for the <code>CreditCard</code> class, which includes additional data fields.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3"><code>CreditCard</code> Constructor Parameters</td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td><code>creditCardNumber</code></td>
        <td><code>Long</code></td>
        <td>Credit Card Number</td>
    </tr>
    <tr>
        <td><code>expiryDate</code></td>
        <td><code>Short</code></td>
        <td>Credit Card Expiry Date</td>
    </tr>
    <tr>
        <td><code>cvv2</code></td>
        <td><code>String</code></td>
        <td>Card Verification Value/Card Verification Digits</td>
    </tr>
    <tr>
        <td><code>street</code></td>
        <td><code>String</code></td>
        <td>Cardholder street address</td>
    </tr>
    <tr>
        <td><code>zip</code></td>
        <td><code>String</code></td>
        <td>Cardholder zip/postal code</td>
    </tr>
    <tr>
        <td><code>secureCode</code></td>
        <td><code>String</code></td>
        <td>Verified by Visa/MasterCard SecureCode value</td>
    </tr>
    <tr>
        <td><code>cardHolderName</code></td>
        <td><code>String</code></td>
        <td>Credit Card Holder Name</td>
    </tr>
  </tbody>
</table>

<h4>Card Verification Value (CVV2)</h4>
<p>
    The Card Verification Value (sometimes known as CVV2 or CVN is a security feature for credit card transactions, giving increased protection against
    credit card fraud. It is a series of digits (3 or 4) that can be usually found on the back of a credit card.
</p>
<p>
    Many card issuers will decline a transaction if the CVV2 is not provided. If the value provided by the customer does not match the value on file with the
    card issuer, the issuer <em>may </em>decline the transaction (although this is not always the case).
</p>
<h5>Using CVV2</h5>
<p>
    To use CVV2, you must
</p>
<ol>
  <li>Collect and include the CVV2 value as part of the <code>CreditCard</code> object</li>
  <li>Create a <code>VerificationRequest</code> with the <code>Cvv2Request</code> parameter set to <code>CVV2_PRESENT</code>.</li>
  <li>Call the <code>singlePurchase()</code> method with the <code>VerificationRequest</code>.</li>
</ol>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <td colspan="3"><code>Cvv2Request</code></td>
    </tr>
    <tr>
        <th>Value</th>
        <th>Description</th>
        <th>Indicator*</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>CVV2_NOT_SUBMITTED</code></td>
        <td>CVV2 value is deliberately bypassed or is not provided by the merchant.</td>
        <td>0</td>
    </tr>
    <tr>
        <td><code>CVV2_PRESENT</code></td>
        <td>Cardholder states that the CVV2 value is present on the card and can be verified.</td>
        <td>1</td>
    </tr>
    <tr>
        <td><code>CVV2_PRESENT_BUT_ILLEGIBLE</code></td>
        <td>Cardholder states that the CVV2 value is present on the card but it is illegible.</td>
        <td>2</td>
    </tr>
    <tr>
        <td><code>CARD_HAS_NO_CVV2</code></td>
        <td>Cardholder states that the card has no value imprint.</td>
        <td>9</td>
    </tr>
  </tbody>
</table>
<p>
    <strong>
        * Denotes the indicator digit typically associated with CVV2 verification. Is not needed when using this API, but may be referred to in other
        documentation.
    </strong>
</p>

<p>
    An example of a <code>singlePurchase()</code> with CVV2 checking is shown below:
</p>
<pre class="prettyprint linenums">
import com.salt.payment.client.creditcard.api.*;
:
:
int merchantId=12345; // as assigned by SALT
String apiToken="DNZHRC6dNgppYYzR"; // as assigned by SALT
long pan=4242424242424242L;
short expiry=1212;
String invoice="order-12345"; // merchant invoice/orderId
String cvv2="888"; // CVV2 digits
long amount=3420; // in cents
HttpsCreditCardService ccService = new HttpsCreditCardService(
  new Merchant(merchantId, apiToken),  "https://test.salt.com/gateway/creditcard/processor.do");
// specify additional credit card parameters
CreditCard creditCard = new CreditCard(pan, expiry, cvv2, null, null);
// specify the VerificationRequest contains an AvsRequest and/or Cvv2Request
VerificationRequest verify = new VerificationRequest(
  null,
  Cvv2Request.CVV2_PRESENT,
  );
CreditCardReceipt receipt =
  ccService.singlePurchase(invoice, creditCard, amount, verify);
:
:
// Extract Results from CreditCardReceipt...
:
:
// Verification results from CreditCardReceipt...
Cvv2Response cvv2Response = receipt.getCvv2Response();
:
:
</pre>
<p>
    The results of the CVV2 check are returned as a <code>Cvv2Response</code> object as part of the CreditCardReceipt.
</p>
<table class="table table-bordered table-striped">
  <thead>
      <tr>
          <td colspan="3"><code>Cvv2Response</code></td>
      </tr>
      <tr>
          <th>Field (Accessor)</th>
          <th>Type</th>
          <th>Description</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><code>getCode()</code></td>
          <td><code>String</code></td>
          <td>CVV2 Response Code</td>
      </tr>
      <tr>
          <td><code>getMessage()</code></td>
          <td><code>String</code></td>
          <td>CVV2 Response Message</td>
      </tr>
  </tbody>
</table>
<p>
    The CVV2 response code will denote a match/mismatch:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Match</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>M</td>
        <td>CVV2 Match</td>
        <td>Match</td>
    </tr>
    <tr>
        <td>N</td>
        <td>CVV2 No Match</td>
        <td width="127" valign="top">
            <p align="left">
                <strong>Mismatch</strong>
                <strong></strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>P</td>
        <td>Not Processed</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>S</td>
        <td>Issuer indicates that CVV2 data should be present on the card, but the merchant has indicated data is not present on the card</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>U</td>
        <td>Issuer has not certified for CVV2 or Issuer has not provided Visa with the CVV2 encryption keys</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>&lt;blank&gt;</td>
        <td>CVV2 was not performed, occurs if you did not provide a cvv2 or an invalid cvv2 value</td>
        <td>Unknown</td>
    </tr>
  </tbody>
</table>
<p>
  Note that if a CVV2 check results in a mismatch or is not supported by the cardholder financial institution, this does <strong>NOT</strong>    <strong>necessarily</strong> mean that a transaction will be declined. Some financial institutions may decline but others will not. CVV2 gives you
    additional information on which you can base your decision whether or not to accept the transaction as legitimate
    <strong>
        . If the financial institution does not decline the transaction, and you choose not to accept the transaction, you must issue a void against it.
    </strong>
    (See Section 3.4 on how to perform a void)
</p>
<h4>Address Verification System (AVS)</h4>
<p>
    Address Verification System (AVS) provides additional security by comparing a given billing address against the address on file at the cardholder
    financial institution. If an AVS check indicates that the address does not fully match, you may have cause to suspect a possibly fraudulent transaction.
</p>
<p>
    The result of an AVS check is a letter code indicating the degree of match, which can be full, partial, or a mismatch. Some financial institutions, in
    particular those outside the US, Canada, and UK, may not support AVS checking which can result in a corresponding not supportedmresponse code being
    returned.
</p>
<p>
Note that if an AVS check results in a mismatch or is not supported by the cardholder financial institution, this does <strong>NOT</strong>    <strong>necessarily</strong> mean that a transaction will be rejected. AVS only gives you additional information on which you can base your decision
    whether or not to accept the transaction as legitimate<strong>. If you choose not to accept the transaction, you must issue a void against it </strong>
</p>
<h5>Using AVS</h5>
<p>
    To use AVS, you must
</p>
<ol>
  <li>Collect and include the customer zip/postal code and address as part of the <code>CreditCard</code> object</li>
  <li>Create a <code>VerificationRequest</code> with the <code>AvsRequest</code> parameter set.</li>
  <li>Call the <code>singlePurchase()</code> method with the <code>VerificationRequest</code>.</li>
</ol>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3"><code>AvsRequest</code></td>
    </tr>
    <tr>
        <th>Value</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>VERIFY_STREET_AND_ZIP</td>
        <td>
          Verify that <strong>both </strong>specified street number &amp; name (combined) and zip/postal code of the cardholder matches the
          values in the cardholder issuer file.
        </td>
    </tr>
    <tr>
        <td>VERIFY_ZIP_ONLY</td>
        <td>
          Verify that specified zip/postal code of the cardholder matches the value in the cardholder issuer file. If this is specified,
          address will <strong>not </strong>be verified
        </td>
    </tr>
  </tbody>
</table>
<p>
    An example of a <code>singlePurchase()</code> with AVS checking is shown below:
</p>
<pre class="prettyprint linenums">
import com.salt.payment.client.creditcard.api.*;
:
:
int merchantId=12345; // as assigned by SALT
String apiToken="DNZHRC6dNgppYYzR"; // as assigned by SALT
long pan=4242424242424242L;
short expiry=1212;
String invoice="order-12345"; // merchant invoice/orderId
String avsStreet="123 Easy Street"; // AVS Street number and name
String avsZip="A1B2C3"; // AVS ZIP/Postal code
long amount=3420; // in cents
HttpsCreditCardService ccService = new HttpsCreditCardService(
  new Merchant(merchantId, apiToken),  "https://test.salt.com/gateway/creditcard/processor.do");
// specify additional credit card parameters
CreditCard creditCard = new CreditCard(pan, expiry, null, avsStreet, avsZip);
// specify the VerificationRequest contains an AvsRequest and/or Cvv2Request
VerificationRequest verify = new VerificationRequest(
  AvsRequest.VERIFY_STREET_AND_ZIP,
  null
);
CreditCardReceipt receipt =
  ccService.singlePurchase(invoice, creditCard, amount, verify);
:
:
// Extract Results from CreditCardReceipt...
:
:
// Verification results from CreditCardReceipt...
AvsResponse avsResponse = receipt.getAvsResponse();
:
:
</pre>
<p>
    The results of the AVS request are returned as an <code>AvsResponse</code> object as part of the <code>CreditCardReceipt</code>.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3"><code>AvsResponse</code></td>
    </tr>
    <tr>
      <th>Field (Accessor)</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>getAvsErrorCode()</code></td>
        <td><code>String</code></td>
        <td>The code of the error that prevented AVS from being performed, or null if no error</td>
    </tr>
    <tr>
        <td><code>getAvsErrorMessage()</code></td>
        <td><code>String</code></td>
        <td>The message of the error that prevented AVS from being performed, or null if no error</td>
    </tr>
    <tr>
        <td><code>getAvsResponseCode()</code></td>
        <td><code>String</code></td>
        <td>The standard alphabetic AVS response code (see Table 5.7)</td>
    </tr>
    <tr>
        <td><code>getZipType()</code></td>
        <td><code>String</code></td>
        <td>The type of the zip (either zip or postal code) or null if there was an AVS error</td>
    </tr>
    <tr>
        <td><code>isAvsPerformed()</code></td>
        <td><code>Boolean</code></td>
        <td>true if AVS was performed, false if it wasn't</td>
    </tr>
    <tr>
        <td><code>isStreetFormatValid()</code></td>
        <td><code>Boolean</code></td>
        <td>true if the street format is valid, false otherwise</td>
    </tr>
    <tr>
        <td><code>isStreetFormatValidAndMatched()</code></td>
        <td>Boolean</td>
        <td>true if the street format is valid and matches</td>
    </tr>
    <tr>
        <td><code>isZipFormatValid()</code></td>
        <td><code>Boolean</code></td>
        <td>true if the zip/postal code format is valid, false otherwise</td>
    </tr>
    <tr>
        <td><code>isZipFormatValidAndMatched()</code></td>
        <td>Boolean</td>
        <td>true if the zip/postal code format is valid and matches</td>
    </tr>
  </tbody>
</table>
<p>
    The <code>getResponseCode()</code> field indicates: a full match (both address and zip/postal match), a partial match (one field matches), a mismatch (both do not
    match), or unknown (AVS may be unavailable/unsupported by this cardholder bank).
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Match</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>A</td>
        <td>Street address matches, but zip/postal does not (Domestic)</td>
        <td>Partial</td>
    </tr>
    <tr>
        <td>B</td>
        <td>Street address matches, but postal code not verified (International)</td>
        <td>Partial</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Street address and postal code do not match (International)</td>
        <td width="127" valign="top">
            <p align="left">
                <strong>Mismatch</strong>
                <strong></strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>D, M</td>
        <td>Street address and postal code match (International)</td>
        <td>Full Match</td>
    </tr>
    <tr>
        <td>E</td>
        <td>AVS data invalid or not allowed for this card type</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>G</td>
        <td>Non-US bank does not support AVS</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>I</td>
        <td>Address not verified</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>N</td>
        <td>Street address and postal code do not match (Domestic)</td>
        <td width="127" valign="top">
            <p align="left">
                <strong>Mismatch</strong>
                <strong></strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>P</td>
        <td>Postal code matches, but street address not verified (International)</td>
        <td>Partial</td>
    </tr>
    <tr>
        <td>R</td>
        <td>System unavailable (Domestic)</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>S</td>
        <td>Bank Does not support AVS (Domestic)</td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>U</td>
        <td>
          Address information unavailable. Returned if the US bank does not support non-US AVS or if the AVS in a US bank is not functioning properly.
        </td>
        <td>Unknown</td>
    </tr>
    <tr>
        <td>W, Z</td>
        <td>Street address does not match, but zip code matches (Domestic)</td>
        <td>Partial</td>
    </tr>
    <tr>
        <td>X, Y</td>
        <td>Street address and zip code match (Domestic)</td>
        <td>Full Match</td>
    </tr>
    <tr>
        <td>&lt;blank&gt;</td>
        <td>AVS was not performed, occurs if you did not provide a billing address</td>
        <td>Unknown</td>
    </tr>
  </tbody>
</table>
<h5>Suggestions for Interpreting/Handling an AVS Response</h5>
<p>
    AVS is not a foolproof security feature, so even if a full match is obtained, there is no guarantee that a transaction is not fraudulent. However, a
    partial, or better yet, full match makes it more likely that whoever is submitting the transaction is the real cardholder (since they have access to the
    correct address information, which typically only appears the cardholder statement).
</p>
<p>
    Below are some suggestions for the interpretation/handling of AVS responses. Please note that these are just suggestions and the ultimate decision of
    whether or not to accept a transaction is still up to you. Also remember that if you do not want to accept a transaction, you must void it yourself.
</p>
<ul>
    <li><strong>Partial Match</strong>
    Typically if the user has one part of the address correct, they probably know the entire address. Of course, a full match is more reassuring, but
    sometimes a partial match occurs because of differences in the formats of the entered address and the address on file (for example, sometimes the
    cardholder may enter the unit number before their street number).</li>
<li><strong>Mismatch</strong>
    You probably should not accept this transaction without confirming with the cardholder directly.</li>
<li><strong>Unknown</strong>
    If the cardholder address is international, you may see this result. If you typically do business with international customers, then this will be
    expected. Otherwise, you may want to consider whether or not to accept the transaction.</li>
</ul>

<hr/>
<h3>Secure Storage API</h3>
<p>
    With the Secure Storage API, merchants can remotely store credit card and other sensitive customer data with SALT to increase security and reduce the scope
    of PCI Compliance.
</p>
<p>
    When information is stored with SALT, a Storage Token (which identifies the information in secure storage) is returned in response. This Storage Token
    can be used for all subsequent transactions including purchases and credit card verification.
</p>
<h4>Storing Customer Information (Creating a Storage Token)</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.addToStorage(paymentProfile, storageTokenId)</code>
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>storageTokenId</code></td>
        <td><code>String(32)</code></td>
        <td>
          Optional. Specifies the identifier (storage token) for the stored information. Must be unique. If not provided, SALT will auto-generate
          one for you.
        </td>
    </tr>
    <tr>
        <td><code>paymentProfile</code></td>
        <td><code>PaymentProfile</code></td>
        <td>Contains the customer information to be stored. See Table 5.9 for details</td>
    </tr>
    <tr>
        <td colspan="3">
          Returns:
        </td>
    </tr>
    <tr>
        <td colspan="2"><code>StorageReceipt</code></td>
        <td>The results of the storage request</td>
    </tr>
  </tbody>
</table>
<p>
    The PaymentProfile class contains a CreditCard data object as well as a CustomerProfile data object. The basic constructor is shown below.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>PaymentProfile</code> Constructor Parameters
      </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>creditCard</code></td>
        <td><code>CreditCard</code></td>
        <td>
                Contains Credit Card information, optional. However, if you intend to run transactions with this PaymentProfile you must provide this
                field.
        </td>
    </tr>
    <tr>
        <td><code>customerProfile</code></td>
        <td><code>CustomerProfile</code></td>
        <td>Contains Customer information, optional. See Table 5.10 for details</td>
    </tr>
  </tbody>
</table>
<p>
    The <code>CreditCard</code> class is described in Table 5.1. Note that CVV2 will not be stored, even if specified.
</p>
<p>
    The <code>CustomerProfile</code> class allows you to store various customer details such as name and address. All fields are completely optional you can choose to
    store any or all of the following fields:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>CustomerProfile</code>
      </td>
    </tr>
    <tr>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>setFirstName()</code></td>
        <td><code>String</code></td>
        <td>Customer first name</td>
    </tr>
    <tr>
        <td><code>setLastName()</code></td>
        <td><code>String</code></td>
        <td>Customer last name</td>
    </tr>
    <tr>
        <td><code>setAddress1()</code></td>
        <td><code>String</code></td>
        <td>Address 1 (first line of address)</td>
    </tr>
    <tr>
        <td><code>setAddress2()</code></td>
        <td><code>String</code></td>
        <td>Address 2 (second line of address)</td>
    </tr>
    <tr>
        <td><code>setCity()</code></td>
        <td><code>String</code></td>
        <td>City</td>
    </tr>
    <tr>
        <td><code>setProvince()</code></td>
        <td><code>String</code></td>
        <td>Province/State</td>
    </tr>
    <tr>
        <td><code>setPostal()</code></td>
        <td><code>String</code></td>
        <td>Postal/ZIP Code</td>
    </tr>
    <tr>
        <td><code>setCountry()</code></td>
        <td><code>String</code></td>
        <td>Country</td>
    </tr>
    <tr>
        <td><code>setPhoneNumber()</code></td>
        <td><code>String</code></td>
        <td>Customer Phone Number</td>
    </tr>
    <tr>
        <td><code>setFaxNumber()</code></td>
        <td><code>String</code></td>
        <td>Customer Fax Number</td>
    </tr>
    <tr>
        <td><code>setWebsite()</code></td>
        <td><code>String</code></td>
        <td>Customer website</td>
    </tr>
    <tr>
        <td><code>setLegalName()</code></td>
        <td><code>String</code></td>
        <td>Customer Company Legal Name</td>
    </tr>
    <tr>
        <td><code>setTradeName()</code></td>
        <td><code>String</code></td>
        <td>Customer Company Trade Name</td>
    </tr>
  </tbody>
</table>
<p>
    An example of storing customer data (credit card and customer profile) is shown below:
</p>
<pre class="prettyprint linenums">
import com.salt.payment.client.creditcard.api.*;
:
:
int merchantId=12345; // as assigned by SALT
String apiToken="DNZHRC6dNgppYYzR"; // as assigned by SALT
String storageTokenId="myToken-001"; // will be used to identify the storage record
long ccNumber=4242424242424242L; // Credit Card Number
short ccExpiry=1212; // Credit Card Expiry
String firstName="John"; // Customer first name
String lastName="Smith"; // Customer last name
String address1="123 Easy Street"; // Customer address1
String postal="A1B2C3"; // Customer Postal code
String phone="4165551234"; // Customer phone number
HttpsCreditCardService ccService = new HttpsCreditCardService(
    new Merchant(merchantId, apiToken), "https://test.salt.com/gateway/creditcard/processor.do");
// credit card to store
CreditCard creditCard = new CreditCard(ccNumber, ccExpiry);
// customer profile details to store
CustomerProfile customerProfile = new CustomerProfile();
customerProfile.setFirstName(firstName);
customerProfile.setLastName(lastName);
customerProfile.setAddress1(address1);
customerProfile.setPostal(postal);
customerProfile.setPhoneNumber(phone);

// put together data into a payment profile
PaymentProfile paymentProfile = new PaymentProfile(creditCard, customerProfile);

// Store the data under the specified storageTokenId
StorageReceipt receipt =
  ccService.addToStorage(storageTokenId, paymentProfile);
:
:
// Use Results from StorageReceipt...
if (receipt.isApproved()) {
  :
  :
}
</pre>
<p>
  The results of the storage request are returned as a <code>StorageReceipt</code> object. This is a data class similar to the <code>CreditCardReceipt</code>, and contains the following fields:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>StorageReceipt</code>
      </td>
    </tr>
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>getDebugMessage()</code></td>
        <td><code>String</code></td>
        <td>Debug message, if applicable</td>
    </tr>
    <tr>
        <td><code>getErrorCode()</code></td>
        <td><code>String</code></td>
        <td>Error code, if applicable</td>
    </tr>
    <tr>
        <td><code>getErrorMessage()</code></td>
        <td><code>String</code></td>
        <td>Error message, if applicable</td>
    </tr>
    <tr>
        <td><code>getProcessedDateTime()</code></td>
        <td><code>Date</code></td>
        <td>Date/time when the transaction was processed</td>
    </tr>
    <tr>
        <td><code>getPaymentProfile()</code></td>
        <td><code>PaymentProfile</code></td>
        <td>Payment profile retrieved or updates (via the storage query or update methods). For creation/deletion, this field is null</td>
    </tr>
    <tr>
        <td><code>getStorageTokenId()</code></td>
        <td><code>String(32)</code></td>
        <td>
          The storageTokenId used. For storage record creation where no storageTokenId was specified, this will contain the value of the
          SALT-generated storageTokenId.
        </td>
    </tr>
    <tr>
        <td><code>isApproved()</code></td>
        <td><code>Boolean</code></td>
        <td>Returns true if the request was approved, otherwise the request was declined due to some error.</td>
    </tr>
  </tbody>
</table>
<h4>Running a Transaction with a Storage Token</h4>
<p>
    Once you have created a Storage Token, you can use it in place of a <code>CreditCard</code> object in any transaction that requires a credit card. The SALT Gateway will
    use the <code>storageTokenId</code> to look up the stored credit card information, which in turn will be used in the transaction.
</p>
<div class="alert alert-warn">
  <strong>IMPORTANT:</strong>
  Credit card information is <strong>required to be stored </strong>in order to run transactions with the storage token. If you do not
  provide this information when creating/updating the storage record (for example, if you are just storing the customer profile), then
  you will be unable to use that storage token to run a transaction
</div>
<p>
    To use the <code>storageTokenId</code>, all you need to do is call the appropriate Storage Token transaction methods (which are the same as the credit card methods,
    just replacing the credit card with the token). The Storage Token <code>singlePurchase()</code> is shown below:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.singlePurchase(orderId, storageTokenId, amount, verificationRequest)</code>
      </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>orderId</code></td>
        <td><code>String(32)</code></td>
        <td>Merchant assigned orderId. Must be unique.</td>
    </tr>
    <tr>
        <td><code><strong>storageTokenId</strong></code></td>
        <td><code>String(32)</code></td>
        <td>
          Storage Token ID as returned to you/specified by you when the storage record was created, will specify the stored credit card to use for this purchase.
        </td>
    </tr>
    <tr>
        <td><code>amount</code></td>
        <td><code>Long</code></td>
        <td>
          Amount of the purchase <strong>in cents</strong>. Do NOT include a $ or any decimal place. (e.g. if your purchase is $10.00, then
          send 1000 as the total).
        </td>
    </tr>
    <tr>
        <td><code>verificationRequest</code></td>
        <td><code>Verification Request</code></td>
        <td>
          Credit Card Verification request information, null if not used. See Section 5.1 for details on how to use this field. Note that because
          CVV2 is not stored, you cannot specify a CVV2 check.
        </td>
    </tr>
    <tr>
      <td colspan="3">
        Returns:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <code>CreditCardReceipt</code>
      </td>
      <td>
        The results of the purchase request
      </td>
    </tr>
  </tbody>
</table>
<p>
    There is a method that can provide the merchant a combined transaction for both purchase and secure storage creation.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.singlePurchase(orderId, storageTokenId, amount, verificationRequest)</code>
      </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>orderId</code></td>
        <td><code>String(32)</code></td>
        <td>Merchant assigned orderId. Must be unique.</td>
    </tr>
    <tr>
        <td><code><strong>creditCard</strong></code></td>
        <td><code>CreditCard</code></td>
        <td>Credit Card information (see Table 3.4)</td>
    </tr>
    <tr>
        <td><code>amount</code></td>
        <td><code>Long</code></td>
        <td>
          Amount of the purchase <strong>in cents</strong>. Do NOT include a $ or any decimal place. (e.g. if your purchase is $10.00, then
          send 1000 as the total).
        </td>
    </tr>
    <tr>
        <td><code>verificationRequest</code></td>
        <td><code>Verification Request</code></td>
        <td>
          Credit Card Verification request information, null if not used. See Section 5.1 for details on how to use this field. Note that because
          CVV2 is not stored, you cannot specify a CVV2 check.
        </td>
    </tr>
    <tr>
        <td><code><strong>storageTokenId</strong></code></td>
        <td><code>String(32)</code></td>
        <td>The secure storage token id that will be used to create storage record for this credit card.</td>
    </tr>
    <tr>
      <td colspan="3">
        Returns:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <code>CreditCardReceipt</code>
      </td>
      <td>
        The results of the purchase request
      </td>
    </tr>
  </tbody>
</table>
<p>
    The other methods that can use the <code>storageTokenId</code> are:
</p>
<ul>
  <li>
      <strong>recurringPurchase</strong>
      (orderId, <strong>storageTokenId</strong>, perPaymentAmount, startDate, endDate, schedule, verificationRequest)
  </li>
  <li>
      <strong>updateRecurringPurchase</strong>
      (recurringPurchaseId, <strong>storageTokenId</strong>, perPaymentAmount, verificationRequest)
  </li>
  <li>
      <strong>verifyCreditCard</strong>
      (<strong>storageTokenId</strong>, verificationRequest)
  </li>
  <li>
      <strong>verifyCreditCard</strong>
      (creditCard, verificationRequest, <strong>storageTokenId</strong>)
  </li>
</ul>
<h4>Querying for Stored Information</h4>
<p>
    You can query and retrieve the contents of any previously stored customer information.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.queryStorage(storageTokenId)</code>
      </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>storageTokenId</code></td>
        <td><code>String(32)</code></td>
        <td>The Storage Token ID of the stored information to retrieve.</td>
    </tr>
    <tr>
      <td colspan="3">
        Returns:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <code>StorageReceipt</code>
      </td>
      <td>
        The results of the query request
      </td>
    </tr>
  </tbody>
</table>
<p>
    You can access the data through <code>StorageReceipt.getPaymentProfile()</code> and then retrieving the contained <code>creditCard</code> and/or <code>customerProfile</code>.
</p>
<div class="alert alert-warn">
  <strong>IMPORTANT:</strong>
  For security purposes, the credit card number returned will always be <strong>only the last 4 digits </strong>of the full credit card
  number. All other data will be returned in its original form, including the card expiry date and all of the customer profile information.
</div>
<h5>Updating and Deleting Stored Information</h5>
<p>
    If you need to update/modify a stored record:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.updateStorage(storageTokenId, paymentProfile)</code>
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>storageTokenId</code></td>
        <td><code>String(32)</code></td>
        <td>The Storage Token ID of the stored information to update.</td>
    </tr>
    <tr>
        <td><code>paymentProfile</code></td>
        <td><code>PaymentProfile</code></td>
        <td>Customer information to be stored. Will overwrite any existing customer information.</td>
    </tr>
    <tr>
      <td colspan="3">
        Returns:
      </td>
    </tr>
    <tr>
      <td colspan="2"><code>StorageReceipt</code></td>
      <td>The results of the update request</td>
    </tr>
  </tbody>
</table>
<p>
    The provided <code>PaymentProfile</code> will overwrite any existing data. If a null value is provided for the <code>PaymentProfile</code> <code>creditCard</code> or <code>customerProfile</code>
    parameters, then the corresponding stored data will be deleted. Note that even if you delete all of the data, the record itself will still exist (but be
    blank).
</p>
<p>
    If you need to delete a stored record altogether:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.deleteFromStorage(storageTokenId)</code>
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>storageTokenId</code></td>
        <td><code>String(32)</code></td>
        <td>The Storage Token ID of the stored information to delete.</td>
    </tr>
    <tr>
        <td colspan="3">
          Returns:
        </td>
    </tr>
    <tr>
        <td colspan="2"><code>StorageReceipt</code></td>
        <td>The results of the delete request</td>
    </tr>
  </tbody>
</table>
<p>
    Deleting a record will free up the associated storageTokenId for re-use.
</p>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
