<a id="api" name="api" class="section-anchor"></a>
<h2>Working With the SALT Core API</h2>
<p>You will need to use the SALT Credit Card API to perform credit card transactions.</p>

<h3>Client Library</h3>
<p>
  Before working with the SALT Core API, ensure that you have downloaded the client library file to your computer. The Core API consists of a single package <code>package com.salt.payment.client.creditcard.api</code>
  with two main classes:
</p>
<ul type="disc">
  <li>
    <code>HttpsCreditCardService</code> - Calls the SALT Payment Gateway to process credit card transactions, such as purchases, voids, and refunds.
  </li>
  <li>
    <code>CreditCardReceipt</code> - A container class for the <code>HttpsCreditCardService</code> method response.
  </li>
</ul>
<p>These classes and their methods will be described in full in the following sections.</p>
<div class="alert alert-warning">
  <strong>IMPORTANT</strong>: This document discusses development using the Java version of the Core API. For examples using other languages, including Microsoft .NET and PHP, please see the <a href="#appendix">Appendix</a>.
</div>

<hr/>

<h3>The HttpsCreditCardService</h3>
<p>
    To process a credit card transaction, you will need to construct an instance of the <code>HttpsCreditCardService</code> class as follows:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService Constructor</caption>
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService(merchant, url)</code> 
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>merchant</td>
      <td>Merchant</td>
      <td>Contains your merchant credentials. See Table 3.2.</td>
    </tr>
    <tr>
      <td>url</td>
      <td>String(255)</td>
      <td>URL to the SALT Core API handler. In the environment this is<a href="https://test.saltpayments.com/gateway/creditcard/processor.do">https://test.saltpayments.com/gateway/creditcard/processor.do</a></td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning">
  <strong>NOTE</strong>:
  If you are using the <code>HttpsCreditCardService</code> from API versions 1.3.1 or older, the old constructors are still supported but are now considered deprecated.
</div>

<table class="table table-bordered table-striped">
  <caption>Core API: Merchant Constructor</caption>
  <thead>
    <tr>
      <td colspan="3">
      <code>Merchant(merchantId, apiToken [, storeId])</code> 
      </td>
    </tr>
    <tr>
      <th>Name</td>
      <th>Type</td>
      <th>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>merchantId</td>
      <td>Integer</td>
      <td>Merchant ID as assigned to you by SALT (can check this in the Merchant Management Website).</td>
    </tr>
    <tr>
      <td>apiToken</td>
      <td>String(20)</td>
      <td>API Token as assigned to you by SALT (can check this in the Merchant Management Website)</td>
    </tr>
    <tr>
      <td>storeId<br/>OPTIONAL</td>
      <td>String(50)</td>
      <td>Store ID field that can be used to identify/group transactions. Optional field.</td>
    </tr>
  </tbody>
</table>
<p>
  After you have created a new instance of <code>HttpsCreditCardService</code>, you can use it to process transactions.
</p>

<hr/>

<h3>Purchase</h3>
<p>
    To perform a credit card purchase you will invoke the <code>singlePurchase()</code> method:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.singlePurchase() Method
  <thead>
    <tr>
        <td colspan="3">
            <code>HttpsCreditCardService.singlePurchase(orderId, creditCard, amount, verificationRequest)
            </code>
        </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>orderId</code></td>
      <td><code>String(32)</code></td>
      <td>Merchant assigned orderId. Must be unique.</td>
    </tr>
    <tr>
      <td><code>creditCard</code></td>
      <td><code>CreditCard</code></td>
      <td>Credit Card information (see Table 3.4)</td>
    </tr>
    <tr>
      <td><code>amount</code></td>
      <td><code>Long</code></td>
      <td>Amount of the purchase <strong>in cents</strong>. Do NOT include a $ or any decimal place. (e.g. if your purchase is $10.00, then
          send 1000 as the total).
      </td>
    </tr>
    <tr>
      <td><code>verificationRequest</code></td>
      <td><code>VerificationRequest</code></td>
      <td>Credit Card Verification request information, null if not used. See Section 5 for details on how to use this field.</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Returns:</strong></td>
    </tr>
      <tr>
      <td colspan="2"><code>CreditCardReceipt</code></td>
      <td>The results of the purchase request</td>
    </tr>
  </tbody>
</table>
<p>
    The customer credit card information is submitted using the data object CreditCard. The basic constructor is shown below.
</p>
<table class="table table-bordered table-striped">
  <caption>CreditCard Class (Basic Constructor)</caption>
  <thead>
    <tr>
      <td colspan="3">CreditCard Constructor Parameters</td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>creditCardNumber</code></td>
      <td><code>Long</code></td>
      <td>Credit Card Number</td>
    </tr>
    <tr>
      <td><code>expiryDate</code></td>
      <td><code>Short</code></td>
      <td>Credit Card Expiry Date in MMYY format</td>
    </tr>
  </tbody>
</table>
<p>
    To use advanced features such as Address Verification System and CVV, you will have to use the full constructor that provides additional fields. See
    Section 5.1 for details.
</p>
<p>
    The CreditCardReceipt object contains the results of the Purchase:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: CreditCardReceipt Class</caption>
  <thead>
    <tr>
      <td colspan="3">CreditCardReceipt</td>
    </tr>
    <tr>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>getApprovalInfo()</code></td>
      <td><code>ApprovalInfo</code></td>
      <td>Transaction approval information</td>
    </tr>
    <tr>
      <td><code>getAvsResponse()</code></td>
      <td><code>AvsResponse</code></td>
      <td>The AVS response from processing the purchase, or null if AVS was not enabled or no response. See Section 5</td>
    </tr>
    <tr>
      <td><code>getCardBrand()</code></td>
      <td><code>Integer</code></td>
      <td>
        <p>Returns the brand of the credit card, as a number:</p>
        <p>1=Visa, 2=MasterCard, 3=AMEX, 4=Discover, 5=Diners, 6=JCB, 7=Other</p>
      </td>
    </tr>
    <tr>
        <td><code>getCvv2Response()</code></td>
        <td><code>Cvv2Response</code></td>
        <td>The CVV2 response from processing the purchase, or null if CVV2 was not enabled or no response. See Section 5</td>
    </tr>
    <tr>
        <td><code>getDebugMessage()</code></td>
        <td><code>String(255)</code></td>
        <td>Debug message, if applicable</td>
    </tr>
    <tr>
        <td><code>getErrorCode()</code></td>
        <td><code>String(128)</code></td>
        <td>Error code, if applicable</td>
    </tr>
    <tr>
        <td><code>getErrorMessage()</code></td>
        <td><code>String(255)</code></td>
        <td>Error message, if applicable</td>
    </tr>
    <tr>
        <td><code>getOrderId()</code></td>
        <td><code>String(32)</code></td>
        <td>Merchant-assigned orderId</td>
    </tr>
    <tr>
        <td><code>getPeriodicPurchaseInfo()</code></td>
        <td><code>PeriodicPurchaseInfo</code></td>
        <td>Information about the periodic purchase, if this was a periodic purchase transaction</td>
    </tr>
    <tr>
        <td><code>getProcessedDateTime()</code></td>
        <td><code>Date</code></td>
        <td>Date/time when the transaction was processed</td>
    </tr>
    <tr>
        <td><code>getSanitizedCardNumber()</code></td>
        <td><code>String(20)</code></td>
        <td>Storage/display-safe version of the credit card number. E.g. 424242****4242</td>
    </tr>
    <tr>
        <td><code>getTransactionId()</code></td>
        <td><code>Long</code></td>
        <td>SALT TransactionId for this transaction</td>
    </tr>
    <tr>
        <td><code>isApproved()</code></td>
        <td><code>Boolean</code></td>
        <td>Returns true if the request was approved, otherwise the request was declined due to some error.</td>
    </tr>
  </tbody>
</table>
<p>
    The ApprovalInfo object contains the transaction approval information of the Transaction:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: ApprovalInfo Class</caption>
  <thead>
    <tr>
      <td colspan="3">ApprovalInfo</td>
    </tr>
    <tr>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>getApprovalCode()</code></td>
        <td><code>String</code></td>
        <td>Credit Card Approval Code</td>
    </tr>
    <tr>
        <td><code>getAuthorizedAmount()</code></td>
        <td><code>Long</code></td>
        <td>Amount authorized on approval, in cents</td>
    </tr>
    <tr>
        <td><code>getReferenceNumber()</code></td>
        <td><code>Integer</code></td>
        <td>Credit Card approval Reference Number</td>
    </tr>
    <tr>
        <td><code>getTraceNumber()</code></td>
        <td><code>Integer</code></td>
        <td>Credit Card approval Trace Number</td>
    </tr>
  </tbody>
</table>

<hr/>

<h3>Void and Refund</h3>
<p>
    You may need to void or refund a purchase made by a customer from time to time. You can do this programmatically through the Core API (see below) but if
    you don't need/want to, you can perform refunds manually through the Merchant Management Website.
</p>
<p>
    What is a Void? What is a Refund?
</p>
<p>
  <dl class="dl-horizontal">
    <dt>Void</dt>
    <dd>Cancels a transaction, preventing it from being settled. A Void can only be performed on a transaction belonging to the current batch, before the current batch is closed (i.e. before the end of day).</dd>
    <dt>Refund</dt>
    <dd>Returns funds from a previously settled purchase to the customer. Refunds can only be performed on a purchase that is part of an already-closed batch.</dd>
  </dl>
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.voidTransaction() Method</caption>
  <thead>
    <tr>
      <td colspan="3">
        <code>HttpsCreditCardService.voidTransaction(transactionId, transactionOrderId)</code>
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>transactionId</code></td>
        <td><code>Long</code></td>
        <td>The SALT transactionId of the transaction to void</td>
    </tr>
    <tr>
        <td><code>transactionOrderId</code></td>
        <td><code>String(32)</code></td>
        <td>
          The orderId previously assigned to the transaction that is to be voided. This is an extra check to prevent inadvertent voiding of a
          transaction. Not null.
        </td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the void request</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.refund() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.refund(purchaseId, purchaseOrderId, refundOrderId, amount)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>purchaseId</code></td>
        <td><code>Long</code></td>
        <td>The SALT transactionId of the purchase to void</td>
    </tr>
    <tr>
        <td><code>purchaseOrderId</code></td>
        <td><code>String(32)</code></td>
        <td>
            <p align="left">
                The order id previously assigned to the purchase that is to be refunded. This is an extra check to prevent inadvertent refunding of a
                purchase. Not null.
            </p>
        </td>
    </tr>
    <tr>
        <td><code>refundOrderId</code></td>
        <td><code>String(32)</code></td>
        <td>The merchant assigned orderId to be attached to this refund request. Will be generated if null.</td>
    </tr>
    <tr>
        <td><code>amount</code></td>
        <td><code>Long</code></td>
        <td>
            <p align="left">
                Amount to refund <strong>in cents</strong>. Do NOT include a $ or any decimal place. (e.g. if your purchase is $10.00, then send 1000
                as the total). This value does NOT have to match the original purchase amount.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the Refund Request</td>
    </tr>
  </tbody>
</table>
<p>
    The CreditCardReceipt object is the same as is described in Section 3.3.
</p>
<h4>Void/Refund Notes and Restrictions</h4>
<p>
    Credit Card Void and Refund operations are subject to the following restrictions/conditions:
</p>
<ul>
  <li>
    Only transactions belonging to a batch that has not yet been closed may be voided. Once a batch has closed, you may only refund that transaction.
    Conversely transactions belonging to a batch that has not yet been closed may not be refunded.
  </li>
  <li>You may only Refund/Void a Purchase that has been <strong>approved successfully</strong>. Any declined/erroneous/cancelled Purchases <strong>cannot be refunded or voided</strong>.</li>
  <li>
    You may perform <strong>multiple refunds against a given Purchase</strong> (example scenario: the customer incrementally returns parts of
    their order, and you refund the cost of each increment when it is received)
  </li>
  <li>
    You can void a refund request, providing it belongs to a batch that has not yet been closed.
  </li>
</ul>

<h4>Manual Void/Refund Using the Merchant Management Website</h4>
<p>
  If you do not need/want to perform Void/Refund operations programmatically, you can always perform them manually using the Merchant Management Website:
</p>
<ol>
  <li>Login to the SALT Merchant Management Website at <a href="https://test.saltpayments.com/merchantmanagement/">https://test.saltpayments.com/merchantmanagement/</a></li>
  <li>Select the Void/Refund link under the Terminal section.</li>
  <li>Search for the Purchase transaction that you wish to void/refund (by date, Store ID, etc)</li>
  <li>When you find the transaction to void/refund, press the void or refund button</li>
  <li>If you are performing a Refund, you will be asked to enter the amount to refund (the default is the original purchase amount).</li>
  <li>Press the Submit Void or Submit Refund button.</li>
</ol>

<hr/>

<h3>Periodic/Recurring Payments</h3>
<p>
    You can use SALT Periodic Purchase features when the customer is billed periodically, or when splitting payment into a number of separate payments.
</p>

<h4>Creating a Recurring Payment</h4>
<p>
    In the API version 1.4 and below, calling recurringPurchase() will automatically create, verify and process the transaction. However, starting in 2.0,
    <code>recurringPurchase()</code> will only create and verify the transaction. The funds are <strong>not</strong> immediately captured from the
    customer credit card until <code>executeRecurringPurchase()</code> is explicitly called.
</p>
<p>
    You can set up a customer for recurring billing by using the recurringPurchase() method:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.recurringPurchase() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.recurringPurchase(periodicPurchaseInfo, creditCard, storageTokenId, verificationRequest)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>periodicPurchaseInfo</code></td>
        <td><code>PeriodicPurchaseInfo</code></td>
        <td>Defines periodic-specific information, such as schedule, dates, and customer ID. See Table 3.10.</td>
    </tr>
    <tr>
        <td><code>creditCard</code></td>
        <td><code>CreditCard</code></td>
        <td>Credit Card information (see Table 3.4). If storageTokenId is provided, this will be ignored</td>
    </tr>
    <tr>
        <td><code>storageTokenId</code></td>
        <td><code>String</code></td>
        <td>Storage Token ID specifying the stored credit card to use for this purchase. Takes precedence over the creditCard field.</td>
    </tr>
    <tr>
        <td><code>verificationRequest</code></td>
        <td><code>Verification Request</code></td>
        <td>
          Credit Card Verification request information, null if not used. Note that CVV2 will not be stored/used in recurring purchases. See
          Section 5 for details on how to use this field.
        </td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the purchase request.</td>
    </tr>
  </tbody>
</table>
<p>
    The <code>periodicPurchaseInfo</code> object is constructed as follows:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: PeriodicPurchaseInfo Class (Full Constructor)</caption>
  <thead>
    <tr>
      <td colspan="3">
        <code>PeriodicPurchaseInfo</code> Constructor Parameters
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>periodicTransactionId</code></td>
        <td><code>Long</code></td>
        <td>SALT recurring purchase ID returned when the purchase was originally created. Not applicable to new recurring purchases</td>
    </tr>
    <tr>
        <td><code>state</code></td>
        <td><code>State</code></td>
        <td>
            <p align="left">
                One of IN_PROGRESS, ON_HOLD, CANCELLED. Note a cancelled payment will not be run again and cannot be further modified. Not applicable
                to new recurring purchases.
            </p>
        </td>
    </tr>
    <tr>
        <td><code>schedule</code></td>
        <td><code>Schedule</code></td>
        <td>The schedule on which to issue payments. See Table 3.11. If null, will default to monthly payments.</td>
    </tr>
    <tr>
        <td><code>perPaymentAmount</code></td>
        <td><code>Long</code></td>
        <td>
            <p align="left">
                Per-payment amount of the <strong>in cents</strong>. Do NOT include a $ or any decimal place. (e.g. if your purchase is $10.00, then
                send 1000 as the total).
            </p>
        </td>
    </tr>
    <tr>
        <td><code>orderId</code></td>
        <td><code>String(32)</code></td>
        <td>Merchant assigned orderId. Must be unique. Cannot be modified after the first payment has been issued.</td>
    </tr>
    <tr>
        <td><code>customerId</code></td>
        <td><code>String(32)</code></td>
        <td>Optional meta field that can be used to describe a customer</td>
    </tr>
    <tr>
        <td><code>startDate</code></td>
        <td><code>Date</code></td>
        <td>
            <p align="left">
                The date of when to issue the first payment. If this date is null or in the past, then the first payment will be issued immediately.
                Cannot be modified after the first payment has been issued.
            </p>
        </td>
    </tr>
    <tr>
        <td><code>endDate</code></td>
        <td><code>Date</code></td>
        <td>The date of when to end the payments. A payment will not be issued if it falls on this date.</td>
    </tr>
    <tr>
        <td><code>nextPaymentDate</code></td>
        <td><code>Date</code></td>
        <td>
          Change when the next payment will occur. Must be set between the start and end date (as currently defined or as modified by their
          respective parameters). Not used in a new recurring payment (startDate defines first payment date).
        </td>
    </tr>
    <tr>
        <td colspan="3"><strong>Parameters Outside of the full constructor</strong></td>
    </tr>
    <tr>
        <td><code>ExecutionType</code></td>
        <td><code>enum</code></td>
        <td>
          <p>Has a value of either <code>MANUAL</code> or <code>AUTO</code></p>
          <ul>
            <li><code>AUTO</code> = the recurring purchase will execute immediately.</li>
            <li><code>MANUAL</code> = the recurring purchase will not run unless first explicitly executed via executeRecurringPurchase().</li>
          </ul>
          <p>If not provided, will default to <code>MANUAL</code></p>
        </td>
    </tr>
    <tr>
        <td><code>setExecutionType(ExecutionType executionType)</code></td>
        <td>
        </td>
        <td>Sets the execution type to either manual or auto</td>
    </tr>
    <tr>
        <td><code>getExecutionType()</code></td>
        <td><code>ExecutionType</code></td>
        <td>Returns the value of the execution type</td>
    </tr>
    <tr>
        <td><code>installmentNumber</code></td>
        <td><code>Integer</code></td>
        <td>
            <p align="left">
                The value of the instalment the periodic purchase transaction is on. (e.g. if there are 4 instalments, and the card is charged for the
                second time, the installmentNumber = 2)
            </p>
        </td>
    </tr>
    <tr>
        <td><code>setInstallmentNumber(Integer installmentNumber)</code></td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td><code>getInstallmentNumber()</code></td>
        <td><code>Integer</code></td>
        <td>Returns the installmentNumber</td>
    </tr>
  </tbody>
</table>
<p>
    You can define a custom schedule for when to issue recurring payments:
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: Schedule Class (Basic Constructor)</caption>
  <thead>
    <tr>
      <td colspan="3"><code>Schedule</code> Constructor Parameters</td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>scheduleType</code></td>
        <td><code>ScheduleType</code></td>
        <td>Schedule based on days, weeks, or months (See Table 3.12 ScheduleType Enumeration)</td>
    </tr>
    <tr>
        <td><code>intervalLength</code></td>
        <td><code>Short</code></td>
        <td>Payments will be issued every number of days/weeks/months</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped">
  <caption>ScheduleType Enumeration</caption>
  <tbody>
      <tr>
          <td colspan="2"><code>ScheduleType</code></td>
      </tr>
      <tr>
          <th>Value</th>
          <th>Description</th>
      </tr>
      <tr>
          <td>MONTH</td>
          <td>Schedule based on months</td>
      </tr>
      <tr>
          <td>WEEK</td>
          <td>Schedule based on weeks</td>
      </tr>
      <tr>
          <td>DAY</td>
          <td>Schedule based on days</td>
      </tr>
  </tbody>
</table>
<p>
    So for example, if you create a Schedule using scheduleType = WEEK and intervalLength = 2, then payments will be issued every two weeks.
</p>
<h4>Executing Recurring Payments</h4>
<p>
Once a recurring purchase has been successfully created (with recurringPurchase() ), it can be executed by calling the <code>executeRecurringPurchase()</code> method.
</p>
<table class="table table-bordered table-striped">
  <caption>HttpsCreditCardService.executeRecurringPurchase() method</caption>
  <thead>
    <tr>
        <td colspan="3"><code>HttpsCreditCardService.executeRecurringPurchase(recurringPurchaseId, cvv2)</code></td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>recurringPurchaseId</code></td>
        <td><code>Long</code></td>
        <td>SALT recurring purchase ID returned when the purchase was originally created.</td>
    </tr>
    <tr>
        <td><code>cvv2</code></td>
        <td><code>String</code></td>
        <td>Card Verification Value/Card Verification Digits. This parameter provides optional verification when performing this transaction</td>
    </tr>
    <tr>
        <td colspan="3">
          <strong>Returns:</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the transaction</td>
    </tr>
  </tbody>
</table>

<h4>Managing Recurring Payments</h4>
<p>
    There are additional operations available that you can use to manage your recurring payments.
</p>

<h5>Putting a Payment on Hold (and Resuming a Payment on Hold)</h5>
<p>
    Putting a hold on a recurring payment means that further payments will be suspended until the recurring payment is resumed. You can resume payments by
    calling the <code>resumeRecurringPurchase()</code> method.
</p>
<table class="table table-bordered table-striped">
<caption>Core API: HttpsCreditCardService.holdRecurringPurchase() Method</caption>
  <thead>
    <tr>
        <td colspan="3"><code>HttpsCreditCardService.holdRecurringPurchase(recurringPurchaseId)</code></td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>recurringPurchaseId</code></td>
        <td><code>Long</code></td>
        <td>SALT recurring purchase ID returned when the purchase was originally created.</td>
    </tr>
    <tr>
        <td colspan="3">
            <strong>Returns:</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the hold</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.resumeRecurringPurchase() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.resumeRecurringPurchase(recurringPurchaseId)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>recurringPurchaseId</code></td>
      <td><code>Long</code></td>
      <td>SALT recurring purchase ID returned when the purchase was originally created.</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
      <td colspan="2"><code>CreditCardReceipt</code></td>
      <td>The results of the hold</td>
    </tr>
  </tbody>
</table>

<h5>Cancelling a Payment</h5>
<p>
    You can cancel a payment entirely by calling the <code>cancelRecurringPurchase()</code> method. This means that no further payments will be made regardless of whether
    the payment has reached its <code>endDate</code>. Note that you <strong>cannot</strong> resume or otherwise update a cancelled payment.
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.cancelRecurringPurchase() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.cancelRecurringPurchase(recurringPurchaseId)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>recurringPurchaseId</code></td>
      <td><code>Long</code></td>
      <td>SALT recurring purchase ID returned when the purchase was originally created.</td>
    </tr>
    <tr>
      <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
      <td colspan="2"><code>CreditCardReceipt</code></td>
      <td>The results of the cancellation</td>
    </tr>
  </tbody>
</table>

<h5>Updating Recurring Payment Details</h5>
<p>
    To update the payment details of a recurring purchase such as when a customer credit card expires/is changed, you can use the <code>updateRecurringPurchase()</code>
    method. Note that you cannot update a recurring purchase that has been cancelled or that has completed.
</p>
<p>
    If any parameters provided are null, the existing corresponding fields will <strong>not</strong> be updated.
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.updateRecurringPurchase() Method</caption>
    <thead>
      <tr>
        <td colspan="3"><code>HttpsCreditCardService.updateRecurringPurchase(periodicPurchaseInfo, creditCard, storageTokenId, verificationRequest)</code></td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><code>periodicPurchaseInfo</code></td>
          <td><code>PeriodicPurchaseInfo</code></td>
          <td>Defines periodic-specific information, such as schedule, dates, and customer ID. See Table 3.10.</td>
      </tr>
      <tr>
          <td><code>creditCard</code></td>
          <td><code>CreditCard</code></td>
          <td>Credit Card information (see Table 3.4). If storageTokenId is provided, this will be ignored</td>
      </tr>
      <tr>
          <td><code>storageTokenId</code></td>
          <td><code>String(32)</code></td>
          <td>Storage Token ID specifying the stored credit card to use for this purchase. Takes precedence over the creditCard field.</td>
      </tr>
      <tr>
          <td><code>verificationRequest</code></td>
          <td><code>VerificationRequest</code></td>
          <td>
            Credit Card Verification request information, null if not used. Note that CVV2 will not be stored/used in recurring purchases. See
            Section 5 for details on how to use this field.
          </td>
      </tr>
      <tr>
          <td colspan="3"><strong>Returns:</strong></td>
      </tr>
      <tr>
          <td colspan="2"><code>CreditCardReceipt</code></td>
          <td>The results of the update request</td>
      </tr>
    </tbody>
  </table>

<h5>Miscellaneous</h5>
<p>
    The <code>queryRecurringPurchase()</code> method is a convenience method that you can use to check the current status of a recurring purchase, including the last
    successful payment made.
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.queryRecurringPurchase() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.queryRecurringPurchase(recurringPurchaseId)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>recurringPurchaseId</code></td>
        <td><code>Long</code></td>
        <td>SALT recurring purchase ID returned when the purchase was originally created.</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the query retrieve the <code>PeriodicPurchaseInfo</code> field for periodic purchase fields.</td>
    </tr>
  </tbody>
</table>
<p>
    The <code>PeriodicPurchaseInfo</code> object contains a subset of the fields from the class:
</p>
<ul>
    <li>
        <code>periodicTransactionId</code>
        the ID when the periodic purchase was originally created
    </li>
    <li>
        <code>state</code>
        current state of the periodic purchase
    </li>
    <li>
        <code>nextPaymentDate</code>
        next date the payment will be run
    </li>
    <li>
        <code>lastPaymentId</code>
        the transaction ID of the <strong>last successful payment run.</strong> You can use this ID to run a <code>verifyTransaction()</code> to retrieve the transaction
        information.
    </li>
</ul>

<h5>Manual Periodic Payments Using the Merchant Management Website</h5>
<p>
    If you do not need/want to manage Periodic Payments programmatically, you can always perform them manually using the Merchant Management Website:
</p>
<ol>
  <li>Login to the SALT Merchant Management Website at <a href="https://test.saltpayments.com/merchantmanagement/">https://test.saltpayments.com/merchantmanagement/</a></li>
  <li>Select the Periodic Purchases Link under the Terminal section.</li>
  <li>You can add a new Periodic Purchase by pressing the add a New Periodic Purchase link</li>
  <li>You can view/update existing Periodic Purchases by using the search form (by date, order Id, etc)</li>
</ol>

<hr/>

<h3>Transaction Verification</h3>
<p>
    In certain cases when you are unsure of the results of the transaction, such as when a transaction times out, you may need to double-check its status. You
    can run the <code>verifyTransaction()</code> method to perform this check. This method returns a receipt containing the results of the transaction.
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.verifyTransaction() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.verifyTransaction(transactionId, transactionOrderId)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>transactionId</code></td>
        <td><code>Long</code></td>
        <td>The SALT transactionId of the transaction to verify</td>
    </tr>
    <tr>
        <td><code>transactionOrderId</code></td>
        <td><code>String(32)</code></td>
        <td>The orderId assigned to the transaction.</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the transaction verification request</td>
    </tr>
  </tbody>
</table>
<p>
    You must specify <strong>at least one</strong> of the <code>transactionId</code> or <code>transactionOrderId</code> arguments.
</p>
<p>
    Note that if the specified transaction cannot be found, you will receive a not-found <code>C111_TRANSACTION_DOES_NOT_EXIST</code> error in the receipt, as opposed to
    the results of the transaction.
</p>

<hr/>

<h3>Credit Card Verification</h3>
<p>
  Use the <code>verifyCreditCard()</code> method to check the validity of a credit card without charging the customer (i.e. a $0.00 transaction). A <code>CreditCardReceipt</code> object is returned, containing information about the card
  validity, Secure Storage information if the card uses Secure Storage and Fraud information if the card uses the Advanced Fraud Suite.
</p>
<div class="alert alert-warning">
  <strong>IMPORTANT</strong>: American Express currently does not support card verification with a $0.00 value transaction.  For Amex cards, you will have to use a small-value <code>singlePurchase()</code> ($1.00 is sufficient) instead.
</div>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.verifyCreditCard() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.verifyCreditCard(creditCard, verificationRequest)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>creditCard</code></td>
        <td><code>CreditCard</code></td>
        <td>Credit Card information (see Table 3.4)</td>
    </tr>
    <tr>
        <td><code>verificationRequest</code></td>
        <td><code>Verification Request</code></td>
        <td>Credit Card Verification request information, null if not used. See Section 5 for details on how to use this field.</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the <code>verifyCreditCard</code> request. (See Table 3.21)</td>
    </tr>
  </tbody>
</table>

<hr/>

<h3>Closing Batches</h3>
<p>
    All batches are closed automatically every night at 12:00 am EST. If for some reason you want to close a batch manually during the day, this may be done by
    invoking the <code>closeBatch()</code> method. Note that this will NOT prevent the automatic daily batch closure.
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td colspan="2"><code>HttpsCreditCardService.closeBatch()</code></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><strong>Returns:</strong></td>
    </tr>
    <tr>
      <td><code>CreditCardReceipt</code></td>
      <td>The results of the batch close</td>
    </tr>
  </tbody>
</table>

<hr/>

<h3>Updating Fraud</h3>
<p>
    Applies only when using the Advanced Fraud Sute.  This function allows you to update fraud service with the appropriate credit card authorization status if you are using a non-SALT payment processing service.
</p>
<table class="table table-bordered table-striped">
  <caption>Core API: HttpsCreditCardService.updateFraud() Method</caption>
  <thead>
    <tr>
      <td colspan="3"><code>HttpsCreditCardService.updateFraud(Long transactionId, String fraudSessionId, String auth)</code></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><code>transactionId</code></td>
        <td><code>Long</code></td>
        <td>Transaction ID number of the transaction whose fraud authentication is being updated. Cannot be null.</td>
    </tr>
    <tr>
        <td><code>fraudSessionId</code></td>
        <td><code>String</code></td>
        <td>Fraud Session ID string. Cannot be null. Used to track which merchant is preforming the fraud update.</td>
    </tr>
    <tr>
        <td><code>auth</code></td>
        <td><code>String</code></td>
        <td>Auth string. If null, will decline the update request.</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Returns:</strong></td>
    </tr>
    <tr>
        <td colspan="2"><code>CreditCardReceipt</code></td>
        <td>The results of the fraud update</td>
    </tr>
  </tbody>
</table>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
