<a id="appendix" name="appendix" class="section-anchor"></a>
<h2>Appendix</h2>
<h3>Differences Between INTERAC Online and Credit Card Integration</h3>
<p>
  The INTERAC Online and Credit Card Client API integrations are similar, with a few minor differences listed below:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Area</th>
        <th>INTERAC Online</th>
        <th>Credit Card</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Client API URL</td>
        <td>Ends with <strong>iop/merchantprocessor.do</strong></td>
        <td>Ends with <strong>cc/processor.do</strong></td>
    </tr>
    <tr>
        <td>Purchase Transaction</td>
        <td>Is created through an HTTP POST to the SALT Payment Handler</td>
        <td>Is performed directly through the SALT Client API</td>
    </tr>
    <tr>
        <td>Entry of Payment Information</td>
        <td>Banking information is entered at the customer online banking website, it is not seen by the merchant</td>
        <td>Credit card information is entered into your website (but must not be retained)</td>
    </tr>
    <tr>
        <td>Transaction Types</td>
        <td>Purchase, Refund (there is no Void or Periodic Purchase in IOP)</td>
        <td>Purchase, Refund, Void, Periodic Purchase, Secure Storage</td>
    </tr>
    <tr>
        <td>Secure Payment Page</td>
        <td>Not required because no banking information is entered on your website.</td>
        <td>Page where credit card information is entered on your website must be protected by a valid SSL certificate</td>
    </tr>
  </tbody>
</table>

<hr/>

<h3>Client API for Other Programming Languages
</h3>
<h4>Microsoft .NET</h4>
<p>
    The SALT Client API is available for Microsoft .NET (for both .NET Framework versions 1.1 and 2.0). Below is a sample code fragment of a single purchase with
    the .NET Client API (in C#):
</p>
<pre class="prettyprint linenums">
using com.salt.payment.client.creditcard.api;
:
:
int merchantId=12345; // your SALT merchantId
string apiToken="a3fer6321asdf1HY"; // your SALT API token
long pan = 4242424242424242; // Credit Card Number
short expiry = 1212; // Credit Card Expiry
string invoice="unique invoice"; // assign a unique invoice number
long amount = 10000; // amount of txn

HttpsCreditCardService ccService = new HttpsCreditCardService(new Merchant(merchantId, apiToken), "https://gateway-uat.saltpayments.com/gateway/creditcard/processor.do");
CreditCard creditCard = new CreditCard(pan, expiry);
CreditCardReceipt resp = null;
resp = ccService.singlePurchase(invoice, creditCard, amount, null);

if(resp.isApproved()){
    Console.WriteLine("TransactionId: {0}",resp.getTransactionId());
    Console.WriteLine("ApprovalInfo: {0}", resp.getApprovalInfo().ToString());
} else {
    // display error for debugging: it is recommended not to display full error
    // message to external user
    Console.WriteLine("Error Code: {0} Message: {1}",
    resp.getErrorCode(),resp.getErrorMessage());
}
</pre>
<h5>Package and Versioning</h5>
<p>
    The SALT Credit Card Client API for Microsoft .NET package will contain the following:
</p>
<ul type="disc">
    <li>
        <strong>admeriscc[dot net version].dll</strong>
        (where dot net version = version of .NET Framework)
    </li>
    <li>
        <strong>CCGatewayTest.exe</strong>
        tests credit card functions
    </li>
    <li>
        <strong>StorageGatewayTest.exe</strong>
        tests secure storage functions
    </li>
</ul>
<p>
    Copy the admeriscc*.dll to your web bin folder. The Test executable files are provided so that you can quickly test some of the gateway functions from the
    command line. Run the executable(s) with no arguments for usage instructions.
</p>
<h4>PHP</h4>
<p>
    The SALT Client API is available for PHP 4.3 (or greater). Below is a sample code fragment of a single purchase with the PHP Client API.
</p>
<pre class="prettyprint linenums">
&lt;?php
    include "HttpsCreditCardService.php";
    :
    :
    $merchantId=12345; // your SALT merchantId
    $apiToken="a3fer6321asdf1HY"; // your SALT API token
    $pan = 4242424242424242; // Credit Card Number
    $expiry = 1212; // Credit Card Expiry
    $invoice="unique invoice"; // assign a unique invoice number
    $amount = 10000; // amount of txn
    $ccService = new HttpsCreditCardService($merchantId, $apiToken,
        "https://gateway-uat.saltpayments.com/gateway/creditcard/processor.do");
    $creditCard = new CreditCard($pan, $expiry);
    $resp = $ccService-&gt;singlePurchase($invoice, $creditCard, $amount, null);
    if($resp-&gt;isApproved()){
        print_r($resp-&gt;params);
    } else {
        // display error for debugging: it not recommended to display full error
        // message to external users
        echo "Error Code: " . $resp-&gt;getErrorCode() . "Message: " .
        $resp-&gt;getErrorMessage();
    }
?&gt;
</pre>
<p>
    Below is an example of a Single Purchase with Secure Storage in PHP:
</p>
<pre class="prettyprint linenums">
&lt;?php
    include "HttpsCreditCardService.php";
    :
    :
    $merchantId=12345; // your SALT merchantId
    $apiToken="a3fer6321asdf1HY"; // your SALT API token
    $pan = 4242424242424242; // Credit Card Number
    $expiry = 1212; // Credit Card Expiry
    $invoice="unique invoice"; // assign a unique invoice number
    $amount = 10000; // amount of txn
    $storage="token123"
    // Credit Card Storage Token Id
    $ccService = new HttpsCreditCardService($merchantId, $apiToken,
        "https://gateway-uat.saltpayments.com/gateway/creditcard/processor.do");
    $creditCard = new CreditCard($pan, $expiry);
    $resp = $ccService-&gt;singlePurchase($invoice, $creditCard, $amount, null, $storageTokenId);
    if($resp-&gt;isApproved()){
        print_r($resp-&gt;params);
    } else {
        // display error for debugging: it is recommended not to display full error
        // message to external user
        echo "Error Code: " . $resp-&gt;getErrorCode() . "Message: " .
        $resp-&gt;getErrorMessage();
    }
?&gt;
</pre>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
