<a id="certification" name="certification" class="section-anchor"></a>
<h2>Certification</h2>
<p>
  Credit card associations, including Visa and Mastercard, require that all merchants offering online credit card payment follow a set of standard guidelines for implementation.  
  The process of verifying that your website meets the card association requirements is known as <strong>Certification</strong>.</p>
<p> Approval for processing may be contingent on meeting these guidelines, depending on your credit card processor.</p>
<hr/>

<h3>Approval</h3>
<p>
  A full Approval requires a fully-functional, secure and complete e-commerce website to be created by the merchant. Since you will want to
  obtain some kind of approval before actually starting integration, you will typically go for a Conditional Approval first if supported by your processor (see below).
</p>

<hr/>

<h3>Conditional Approval</h3>
<p>
    A Conditional Approval can be granted to a merchant who has not yet integrated their site with the SALT Payment Gateway. A Conditional Approval means that
    you are guaranteed a full Approval so long as the payment portion of your site is completed.
</p>
<p>
    As long as the informational parts of your website are complete (product, return/refund policy, delivery policy, and privacy policy), you can be
    conditionally approved.
</p>
<p>
    Important notes about Conditional Approval:
</p>
<ul>
    <li>
        <strong>It allows you to process REAL credit card payments</strong>
    </li>
    <li>
        <strong>It will expire after a set time period</strong>
        if full approval is not obtained by that point, your entire application will have to be re-submitted.  A typical validity period is 30 days.
    </li>
    <li>
        <strong>No integration is required to obtain Conditional Approval</strong>
    </li>
</ul>

<hr/>

<h3>Certification Checklist</h3>
<p>
    Each merchant implementation must undergo a brief certification process to obtain approval. To complete certification, you will need to supply SALT with:
</p>

<ul>
  <li>The URL to your credit card store implementation</p>
  <li>Any instructions (logins, registration etc) needed to complete a test purchase</li>
</ul>

<p>
  SALT and the processor will conduct a review of your site, and once this is complete you will receive the appropriate approval(s). Please ensure that you have met all website requirements before submitting your request.
</p>
<p>
  The following self-assessment checklist summarizes the requirements that need to be met:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>&#10004;</th>
      <th>Requirement</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><input type="checkbox" name="done-1"></input></td>
        <td><strong>Correlation between business and product/service</strong></td>
        <td>There should be a correlation between the registered merchant name and the product/service offered.</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-2"></input></td>
        <td><strong>Customer service contact provided</strong></td>
        <td>There must be a clear posting of a Customer Service Telephone # or Email Address.</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-3"></input></td>
        <td><strong>Return/Refund policy</strong></td>
        <td>
          Return/refund policy is clearly stated on the merchant website.
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-4"></input></td>
        <td><strong>Delivery policy</strong></td>
        <td>
          The merchant's delivery methods and timing are clearly described
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-5"></input></td>
        <td><strong>*Display correct receipt</strong></td>
        <td>
          <p>
            The receipt presented to the customer after a successful or unsuccessful transaction must contain certain fields.
            <strong>Make sure to follow the guidelines presented in the <a href="#receipts">Receipts section</a>.</strong>
          </p>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-6"></input></td>
        <td>
          <strong>
            *Display timeout warning (if applicable)
          </strong>
        </td>
        <td>
          <p>
            Display a warning message to the customer if the customer has &lt; 30 minutes to complete payment (e.g. their session times out).
          </p>
          <p>
            If there is no such restriction, no message needs to be displayed
          </p>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-7"></input></td>
        <td><strong>Product/service description</strong></td>
        <td>
          The product/service offered for sale is clearly described
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-8"></input></td>
        <td><strong>*Display correct currency</strong></td>
        <td>
          <strong>Must indicate the currency of payment </strong>
          (e.g. USD, CAD). Explicitly indicate the currency type on the payment total
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-9"></input></td>
        <td><strong>English language option</strong></td>
        <td>
          There must be an English translation option for foreign language websites
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-10"></input></td>
        <td><strong>*Customer Notification</strong></td>
        <td>
          You must have some way for a customer to be notified/determine the status of a transaction.
          <strong>Follow the requirements presented in the <a href="#non_page">Non-page-specific requirements section</a>.</strong>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-11"></input></td>
        <td><strong>Age Verification</strong></td>
        <td>
          The website includes an age Verification process for products sold that require age verification (alcohol, tobacco etc.).
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-12"></input></td>
        <td><strong>Customer Ready?</strong></td>
        <td>
          The website must be ready to accept real orders from customers at the website URL specified in your application the site should NOT
          use language/pages that imply that it is coming soon or under construction or use a testing URL (e.g. www.yourdomain.com/test)
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-13"></input></td>
        <td><strong>Privacy Policy</strong></td>
        <td>
          Make sure a privacy policy/statement is clearly stated on your website.
        </td>
    </tr>
    <tr>
        <td><input type="checkbox" name="done-14"></input></td>
        <td><strong>*Secure Payment Page</strong></td>
        <td>
            <p>
              Ensure that you have an SSL Certificate protecting your payment information entry page.
              <strong>Follow the requirements presented in the <a href="#non_page">Non-page-specific requirements section</a>.</strong>
            </p>
        </td>
    </tr>
  </tbody>
</table>
<p>
  <strong>* Required for full approval, but not required for conditional approval</strong>
</p>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
