<a id="certification" name="certification" class="section-anchor"></a>
<div class="well">
<h3>
    <a name="_Ref355172812"></a>
    <a name="_Toc355011681">7 Certification</a>
</h3>
<p>
    Elavon requires that all merchants offering credit card payment follow a set of standard guidelines for implementation.
</p>
</div>
<br>
<div class="well">
<h4>
    <a name="_Toc355011682"></a>
    <a name="_Toc222545511"></a>
    <a name="_Toc271107104">7.1 Approval</a>
</h4>
<p>
    A full Approval from Elavon requires a fully-functional, secure and complete e-commerce website to be created by the merchant. Since you will want to
    obtain some kind of approval before actually starting integration, you will typically go for a Conditional Approval first (see below).
</p>
</div>
<br>
<div class="well">
<h4>
    <a name="_Toc355011683"></a>
    <a name="_Toc222545512"></a>
    <a name="_Toc271107105">7.2 Conditional Approval</a>
</h4>
<p>
    A Conditional Approval can be granted to a merchant who has not yet integrated their site with the SALT Payment Gateway. A Conditional Approval means that
    you are guaranteed a full Approval so long as the payment portion of your site is completed.
</p>
<p>
    As long as the informational parts of your website are complete (product, return/refund policy, delivery policy, and privacy policy), you can be
    conditionally approved.
</p>
<p>
    Important notes about Conditional Approval:
</p>
<ul>
    <li align="left">
        <strong>It allows you to process REAL credit card payments</strong>
    </li>
    <li align="left">
        <strong>It expires in 30 days</strong>
        if full approval is not obtained by that point, your entire application will have to be re-submitted.
    </li>
    <li align="left">
        <strong>No integration is required to obtain Conditional Approval</strong>
    </li>
</ul>
</div>
<br>
<div class="well">
<h4>
    <a name="_Toc355011684"></a>
    <a name="_Toc222545513"></a>
    <a name="_Toc271107106">7.3 Certification Checklist</a>
</h4>
<p>
    Each merchant implementation must undergo a brief certification process to obtain approval. To complete certification, you will need to supply SALT with:
</p>
<p align="left">
    The URL to your credit card store implementation
</p>
<p align="left">
    Any instructions (logins, registration etc) needed to complete a test purchase
</p>
<p>
    SALT and Elavon will conduct a review of your site, and once this is complete you will receive the appropriate approval(s). Please ensure that you have met
    all website requirements before submitting your request.
</p>
<p>
    The following self-assessment checklist summarizes the requirements that need to be met:
</p>
<p>
    <a name="_Toc222546548"></a>
    <a name="_Toc271107150"></a>
    <a name="_Toc205716338"></a>
    <a name="_Toc203276474">Table </a>
    7-1 - Certification Checklist
</p>
<div align="center">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="38" valign="top">
                    <p align="center">
                        <strong>X</strong>
                    </p>
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Requirement</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p align="left">
                        <strong>Description</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Correlation between business and product/service</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p align="left">
                        There should be a correlation between the registered merchant name and the product/service offered.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Customer service contact provided</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p align="left">
                        There must be a clear posting of a Customer Service Telephone # or Email Address.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Return/Refund policy</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        Return/refund policy is clearly stated on the merchant website.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Delivery policy</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        The merchant's delivery methods and timing are clearly described
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>*Display correct receipt</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        The receipt presented to the customer after a successful or unsuccessful transaction must contain certain fields.
                    </p>
                    <p align="left">
                        <strong>Make sure to</strong>
                        <strong>follow the guidelines presented in Section </strong>
                        <strong>4.1</strong>
                        .
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>
                            *Display timeout warning
                            <br/>
                            (if applicable)
                        </strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        Display a warning message to the customer if the customer has &lt; 30 minutes to complete payment (e.g. their session times out).
                    </p>
                    <p>
                        If there is no such restriction, no message needs to be displayed
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Product/service description</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        The product/service offered for sale is clearly described
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>*Display correct currency</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        <strong>Must indicate the currency of payment </strong>
                        (e.g. USD, CAD). Explicitly indicate the currency type on the payment total
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>English language option</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        There must be an English translation option for foreign language websites
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>*Customer Notification</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        You must have some way for a customer to be notified/determine the status of a transaction.
                    </p>
                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        <strong>Follow the requirements presented in Section </strong>
                        <strong>6.2</strong>
                        <strong>.</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Age Verification</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        The website includes an age Verification process for products sold that require age verification (alcohol, tobacco etc.).
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Customer Ready?</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        The website must be ready to accept real orders from customers at the website URL specified in your application the site should NOT
                        use language/pages that imply that it is coming soon or under construction or use a testing URL (e.g. www.yourdomain.com/test)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>Privacy Policy</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        Make sure a privacy policy/statement is clearly stated on your website<strong></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="38" valign="top">
                </td>
                <td width="198" valign="top">
                    <p align="left">
                        <strong>*Secure Payment Page</strong>
                    </p>
                </td>
                <td width="404" valign="top">
                    <p>
                        Ensure that you have an SSL Certificate protecting your payment information entry page.
                    </p>
                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        <strong>Follow the requirements presented in Section </strong>
                        <strong>6.3</strong>
                        <strong>.</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <strong>* Required for full approval, but not required for conditional approval</strong>
</p>
</div>