<a id="environment" name="environment" class="section-anchor"></a>
<h2>The SALT Sandbox Environment</h2>
<p>
    The SALT Sandbox Environment is a environment mirroring the production environment that allows you to perform testing and integration before
    going into production.
</p>
<div class="alert alert-info">
  <p>If you don't yet have a Sandbox account, you can create one by following the link below!</p>
  <p><a class="btn btn-warning btn-large" href="https://test.saltpayments.com/merchantmanagement/">Create a SALT Sandbox Account</a></p>
</div>

<table class="table table-bordered table-striped">
  <caption>SALT Sandbox Environment</caption>
  <thead>
    <tr>
      <th></th>
      <th>URL</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>SALT Merchant Management Website</strong></td>
      <td><a href="https://test.saltpayments.com/merchantmanagement/">https://test.saltpayments.com/merchantmanagement/</a></td>
      <td>Allows you to perform administrative tasks such as viewing transaction activity and configuring your services.</td>
    </tr>
    <tr>
      <td><strong>SALT Payment Gateway</strong></td>
      <td><a href="https://gateway-uat.saltpayments.com/gateway/creditcard/processor.do">https://gateway-uat.saltpayments.com/gateway/creditcard/processor.do</a></td>
      <td>Receives Credit Card API requests</td>
    </tr>
  </tbody>
</table>
<p>The SALT Merchant Management Console requires a login, which consists of a Username and Password set by you when creating your Sandbox account. You can change your password at any time.</p>

<hr/>

<h3>Finding Your Merchant Credentials</h3>
<p>In order to process payments through your Sandbox account, you will need to retrieve your Sandbox Merchant Credentials - <code>merchantId</code> and <code>apiToken</code>. To find your credentials:</p>

<ol>
  <li>Login to the SALT Sandbox Merchant Management Console at <a href="https://test.saltpayments.com/merchantmanagement/">https://test.saltpayments.com/merchantmanagement/</a></li>
  <li>Click the 'Services' link in the main menu. A list of all of your services will be displayed.</li>
  <li>Click the Service to view your <code>merchantId</code> and <code>apiToken</code>.</li>
</ol>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
