<a id="introduction" name="introduction" class="section-anchor"></a>
<h2>Introduction</h2>
<h3>Document Overview</h3>
<p>
    This document describes how to integrate your website with the <strong>SALT Credit Card API</strong>. This document provides a step-by-step
    guide to completing the integration process as well as information on test and configuration tools available to you.
</p>

<hr/>

<h3>Abbreviations, Definitions, and Acronyms</h3>
<p>
    The following is a list of abbreviations, acronyms, and terms that are used throughout this document:
</p>
<table class="table table-bordered table-striped">
  <caption>Abbreviations, Definitions, and Acronyms</caption>
  <thead>
    <tr>
      <th>Term</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>API</td>
      <td>Application Programming Interface</td>
    </tr>
    <tr>
      <td>Approval (or Authorization) Code</td>
      <td>
        Code obtained from the credit card processing network that is required to complete any credit card transaction. Note that the
        Approval/Authorization code is not a guarantee of acceptance or payment of a transaction. Receipt of an approval/authorization code
        does not mean that the merchant will not receive a chargeback for that transaction.
      </td>
    </tr>
    <tr>
      <td>CVV2 (a.k.a. CVD)</td>
      <td>Card Verification Value. A three or four digit code which is printed on a credit card, but which is not a part of the card number.</td>
    </tr>
    <tr>
      <td>
      Elavon
      </td>
      <td>Company providing access to the credit card payment processing network, c/o SALT.</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>Hyper Text Markup Language</td>
    </tr>
    <tr>
      <td>HTTPS</td>
      <td>Secure Hyper Text Transfer Protocol</td>
    </tr>
    <tr>
      <td>Issuer</td>
      <td>A Bank/Financial Institution issuing credit cards</td>
    </tr>
    <tr>
      <td>SSL</td>
      <td>Secure Sockets Layer</td>
    </tr>
  </tbody>
</table>

<hr/>

<h3>Credit Card API Workflow</h3>
<p>
    To get a better understanding of what is involved in the integration process, you should first understand the workflow of the SALT Credit Card API.
</p>
<p>
    The SALT Credit Card API Solution workflow consists of <strong>four phases</strong>, as illustrated in the following diagram:
</p>
<p align="center">
    <img class="img-polaroid" width="600" height="350" src="assets/dev_center/images/clip_image004.jpg"/>
</p>
<ol>
  <li>When the customer is ready to checkout and pay for their order, you collect the customer credit card information on your website.</li>
  <li>You then obtain approval for the payment by invoking the SALT API with the customer credit card information.</li>
  <li>SALT API Handler will process the request through the credit card network. The result of the payment approval will be returned to you from the SALT API.</li>
  <li>You generate and display a receipt to the customer.</li>
</ol>

<hr/>

<h3>Integration At-a-Glance</h3>
<p>
  At-a-glance, the process of integrating with the Credit Card API consists of the following steps:
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Step</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>1)</strong></td>
      <td><a href="#environment"><strong>SALT Sandbox Environment</a></strong></td>
      <td>Accessing/familiarizing yourself with the SALT Sandbox environment.</td>
    </tr>
    <tr>
      <td><strong>2)</strong></td>
      <td><a href="#api"><strong>Working with the SALT API</strong></a></td>
      <td>Writing the HTML POST that will allow you to send transactions to the SALT Payment Handler.</td>
    </tr>
    <tr>
      <td><strong>3)</strong></td>
      <td><a href="#receipts"><strong>Working with Receipts</strong></a></td>
      <td>Writing HTML/web scripting code to display the receipt from transaction data returned by the API.</td>
    </tr>
    <tr>
      <td><strong>4)</strong></td>
      <td><a href="#certification"><strong>Certification</strong></a></td>
      <td>Working with SALT to ensure that your completed web application meets the requirements set out by Elavon for any merchant using credit card payment processing.</td>
    </tr>
    <tr>
      <td><strong>5)</strong></td>
      <td><a href="#moving_production"><strong>Going into Production</strong></a></td>
      <td>Moving from the Sandbox environment to the production environment.</td>
    </tr>
  </tbody>
</table>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
