<a id="introduction" name="introduction" class="section-anchor"></a>
<div class="well">
<h3>
1 Introduction
</h3>
<h4>
1.1 Document Overview
</h4>
<p>
    This document describes how to integrate your website with the <strong>SALT Technology Credit Card Core API</strong>. This document provides a step-by-step
    guide to completing the integration process as well as information on test and configuration tools available to you.
</p>
<p>
If you are looking for integration instructions for the SALT INTERAC Online Core API, please refer to the    <strong>SALT INTERAC Online Core API Integration</strong> <strong>Guide.</strong>
</p>
<p>
    <strong></strong>
</p>
</div>
<br>
<div class="well">
<h4>
    <a name="_Toc355011657"></a>
    <a name="_Toc222545470"></a>
    <a name="_Toc271107066">1.2 Abbreviations, Definitions, and Acronyms</a>
</h4>
<p>
    The following is a list of abbreviations, acronyms, and terms that are used throughout this document:
</p>
<p>
    <a name="_Toc222546509"></a>
    <a name="_Toc271107115">Table </a>
    1-1 Abbreviations, Definitions, and Acronyms
</p>
<div align="center">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        <strong>Term</strong>
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        <strong>Definition</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        API
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Application Programming Interface
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        Approval (or Authorization) Code
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Code obtained from the credit card processing network that is required to complete any credit card transaction. Note that the
                        Approval/Authorization code is not a guarantee of acceptance or payment of a transaction. Receipt of an approval/authorization code
                        does not mean that the merchant will not receive a chargeback for that transaction.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        CVV2 (a.k.a. CVD)
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Card Verification Value. A three or four digit code which is printed on a credit card, but which is not a part of the card number.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        Elavon
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Company providing access to the credit card payment processing network, c/o SALT.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        HTML
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Hyper Text Markup Language
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        HTTPS
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Secure Hyper Text Transfer Protocol
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        Issuer
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        A Bank/Financial Institution issuing credit cards
                    </p>
                </td>
            </tr>
            <tr>
                <td width="149" valign="top">
                    <p align="left">
                        SSL
                    </p>
                </td>
                <td width="489" valign="top">
                    <p align="left">
                        Secure Sockets Layer
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<br>
<div class="well">
<p>
    <a name="_Toc222545471"></a>
    <a name="_Toc271107067"> </a>
</p>
<h4>
    <a name="_Toc355011658">1.3 Credit Card Core API Workflow</a>
</h4>
<p>
    To get a better understanding of what is involved in the integration process, you should first understand the workflow of the SALT Credit Card Core API.
</p>
<p>
    The SALT Credit Card Core API Solution workflow consists of <strong>four phases</strong>, as illustrated in the following diagram:
</p>
<p>
    <a name="_Toc337027744"></a>
    <a name="_Toc271107157"></a>
    <a name="_Ref252186512">Figure </a>
    1-1 Credit Card Core API Solution Workflow
</p>
<p align="center">
    <img width="600" height="350" src="/assets/dev_center/images/clip_image004.jpg"/>
</p>
<p align="left">
    1. When the customer is ready to checkout and pay for their order, you collect the customer credit card information on your website.
</p>
<p align="left">
    2. You then obtain approval for the payment by invoking the SALT Core API with the customer credit card information.
</p>
<p align="left">
    3. SALT Core API Handler will process the request through the credit card network. The result of the payment approval will be returned to you from the
    Core API.
</p>
<p align="left">
    4. You generate and display a receipt to the customer.
</p>
</div>
<br>
<div class="well">      
<h4>
    <a name="_Toc355011659"></a>
    <a name="_Toc222545472"></a>
    <a name="_Toc271107068">1.4 Integration At-a-Glance</a>
</h4>
<p>
    At-a-glance, the process of integrating with the Credit Card Core API consists of the following steps:
</p>
<div align="center">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong></strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Step</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        <strong>Description </strong>
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        <strong>Section</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong>1)</strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Accessing the Development Environment</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        Accessing/familiarizing yourself with the SALT Development environment.
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        Section 2
                    </p>
                </td>
            </tr>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong>2)</strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Working with the SALT Core API</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        Writing the HTML POST that will allow you to send transactions to the SALT Payment Handler.
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        Section 3
                    </p>
                </td>
            </tr>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong>3)</strong>
                    </p>
                    <p align="left">
                        <strong></strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Working with Receipts</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        Writing HTML/web scripting code to display the receipt from transaction data returned by the Core API.
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        Section 4
                    </p>
                </td>
            </tr>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong>4)</strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Certification</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        Working with SALT to ensure that your completed web application meets the requirements set out by Elavon for any merchant using credit
                        card payment processing.
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        Section 7
                    </p>
                </td>
            </tr>
            <tr>
                <td width="28" valign="top">
                    <p align="left">
                        <strong>5)</strong>
                    </p>
                </td>
                <td width="159" valign="top">
                    <p align="left">
                        <strong>Going into Production</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="left">
                        Moving from the test environment to the production environment.
                    </p>
                </td>
                <td width="140" valign="top">
                    <p align="left">
                        Section 8
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<!-- Copyright © 2013 SALT Technology Inc. All rights reserved. -->