
<a id="non_page" name="non_page" class="section-anchor"></a>
<div class="well">
<h3>
    6 Non-Page Specific Requirements
</h3>
</div>
<br>
<div class="well">
<h4>
    <a name="_Toc355011678"></a>
    <a name="_Toc222545507"></a>
    <a name="_Toc271107100"></a>
    <a name="_Toc205716312">6.1 General Requirements</a>
</h4>
<ul>
    <li>
        <strong>Domain: </strong>
        The domain of the merchant website must be registered to the merchant
    </li>
</ul>
<h4>
    <a name="_Toc355011679"></a>
    <a name="_Toc222545508"></a>
    <a name="_Toc271107101"></a>
    <a name="_Toc205716313"></a>
    <a name="_Ref203385567">6.2 Customer Notification of Transaction Results</a>
</h4>
<p>
    The customer must have a means to receive notification of the results of a transaction through a separate channel in addition to display on screen. This is
    to ensure that even in the case of an accident such as the customer closing their browser, the customer will still be able to determine if the transaction
    succeeded or failed.
</p>
<p>
    Suggested means of implementing such a feature:
</p>
<ul>
    <li>
        <strong>Email Notification: </strong>
        Send an email notification/receipt to the customer, in both success and failure cases. The email should contain the same information as on the receipt.
    </li>
    <li>
        <strong>Self-Serve</strong>
        : Allow the customer to check the status of their transaction through a website or other such system.
    </li>
</ul>
<p>
If you do not already have such a feature it is recommended that the Email Notification method be used for ease of implementation.    <a name="_Toc222545509"></a><a name="_Toc271107102"></a><a name="_Toc205716314"></a><a name="_Ref203385501"></a>
</p>
<h4>
    <a name="_Toc355011680">6.3 Security and Privacy</a>
</h4>
<p>
    Your store must make a Privacy Statement/Policy clearly available to the customer. A Privacy Statement should tell the customer:
</p>
<p>
    What kinds of personal information are being collected,
</p>
<p>
    What purpose(s) this information is used for,
</p>
<p>
    How this information is protected, and
</p>
<p>
    Under what circumstances this information is shared (if at all)
</p>
<p>
    You must adhere to the following security and privacy requirements:
</p>
<ul>
    <li>
        <strong>SSL Certificate: </strong>
        Your website must use at least 128-bit SSL encryption with a valid Certificate. In particular the page where the customer enters their credit card
        information <strong><em>must be secured</em></strong>.
    </li>
</ul>
<p>
    o The ownership status on the SSL Certificate should be registered to the merchant or the developer of the website.
</p>
<ul>
    <li>
        <strong>Consumer Information:</strong>
        You may collect a consumer personal information so long as
    </li>
</ul>
<p>
    o You do not retain the customer credit card information. You may only collect this information for the sole purpose of submitting a transaction through
    the Core API, afterwards it <strong><em>must not</em></strong> be stored.
</p>
<p>
    o You have procedures to control access/protect personal information
</p>
<ul>
    <li>
        <strong>Code of Practice</strong>
        : Adhere to the Canadian Code of Practice for Consumer Protection in Electronic Commerce:
    </li>
</ul>
<p>
    o <a href="http://cmcweb.ca/epic/internet/incmc-cmc.nsf/en/fe00064e.html">http://cmcweb.ca/epic/internet/incmc-cmc.nsf/en/fe00064e.html</a>
</p>
</div>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->