<a id="moving_production" name="moving_production" class="section-anchor"></a>
<div class="well">
<h3>
    <a name="_Ref355172824"></a>
    <a name="_Toc355011685">8 Moving to Production</a>
</h3>
<p>
    Once certification is complete, you will be ready to move to the SALT Production environment. Moving to the Production environment involves changing the
    credit card Core API handler URL to the production URL, and verifying your configuration settings in the production Merchant Management Website.
</p>

</div>
<br>
<div class="well">
<p>
    <a name="_Toc222546549"></a>
    <a name="_Toc271107151">Table </a>
    8-1 SALT Core API Production Environment
</p>
<div align="center">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="200" valign="top">
                </td>
                <td width="440" valign="top">
                    <p align="left">
                        <strong>URL</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="200" valign="top">
                    <p align="left">
                        <strong>SALT Merchant Management Website</strong>
                    </p>
                </td>
                <td width="440" valign="top">
                    <p align="left">
                        <a href="https://manage.salt.com/">https://manage.salt.com/</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="200" valign="top">
                    <p align="left">
                        <strong>Core API Handler</strong>
                    </p>
                </td>
                <td width="440" valign="top">
                    <p align="left">
                        <a href="https://gateway.salt.com/gateway/creditcard/processor.do">https://gateway.salt.com/gateway/creditcard/processor.do</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    When you want to move to production:
</p>
<p align="left">
    1. Notify SALT so that we can enable your account on our production system.
</p>
<p align="left">
2. Where you invoke the SALT Core API, change the SALT Credit Card Core API URL from<a href="https://test.salt.com/gateway/creditcard/processor.do%20">https://test.salt.com/gateway/creditcard/processor.do </a> to    <a href="https://gateway.salt.com/gateway/creditcard/processor.do">https://gateway.salt.com/gateway/creditcard/processor.do</a>. See Step 1 of Figure
    1-1.
</p>
<p align="left">
3. Finally, verify that your account is enabled and that your configurations are correct by logging into the production Merchant Management Website at    <a href="https://manage.salt.com/">https://manage.salt.com/</a>.
</p>
<!-- Copyright © 2013 SALT Technology Inc. All rights reserved. -->
</div>