<a id="moving_production" name="moving_production" class="section-anchor"></a>
<h2>Moving to Production</h2>
<p>
  Once certification is complete, you will be ready to move to the SALT Production environment. Moving to the Production environment involves changing the
  API handler URL to the production URL, and verifying your configuration settings in the production Merchant Management Website.
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Production Site</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>SALT Merchant Management Website</strong></td>
      <td><a href="https://manage.saltpayments.com/merchantmanagement/">https://manage.saltpayments.com/merchantmanagement/</a></td>
    </tr>
    <tr>
      <td><strong>Payment API Handler</strong></td>
      <td><a href="https://gateway.saltpayments.com/gateway/creditcard/processor.do">https://gateway.saltpayments.com/gateway/creditcard/processor.do</a></td>
      </tr>
  </tbody>
</table>
<p>
    When you want to move to production:
</p>
<ol>
  <li>Notify SALT so that we can enable your account on our production system.</li>
  <li>Where you invoke the SALT Client API, change the SALT API Handler URL from <a href="https://test.saltpayments.com/gateway/creditcard/processor.do%20">https://test.saltpayments.com/gateway/creditcard/processor.do </a> to    <a href="https://gateway.saltpayments.com/gateway/creditcard/processor.do">https://gateway.saltpayments.com/gateway/creditcard/processor.do</a>.</li>
  <li>Finally, verify that your account is enabled and that your configurations are correct by logging into the production Merchant Management Website at    <a href="https://manage.saltpayments.com/merchantmanagement/">https://manage.saltpayments.com/merchantmanagement/</a>.</li>
</ol>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
