---
layout: base
title: .NET Core API Reference
---
<!DOCTYPE html>
<html>
  <head>
    {% include salt_head.html %}
  </head>
  <body> {% include salt_header.html %}
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      <div class="sidebar-nav">
        <ul class="nav nav-list fixed-nav-list well">
          <li class="section section-introduction">
            <a class="parent" href="./core_api_ref_dotnet.html">Introduction</a>
          </li>
          <li class="section section-single_purchase">
            <a class="parent" href="#single_purchase">Single Purchase</a>
          </li>
          <li class="section section-recurring_purchase">
            <a class="parent" href="#recurring_purchase">Recurring Purchase</a>
          </li>
          <li class="section section-void">
            <a class="parent" href="#void">Void</a>
          </li>
          <li class="section section-refund">
            <a class="parent" href="#refund">Refund</a>
          </li>
          <li class="section section-txn_verification">
            <a class="parent" href="#txn_verification">Transaction Verification</a>
          </li>
          <li class="section section-cc_verification">
            <a class="parent" href="#cc_verification">Credit Card Verification</a>
          </li>
          <li class="section section-batch">
            <a class="parent" href="#batch">Closing a Batch</a>
          </li>
          <li class="section section-fraud">
            <a class="parent" href="#fraud">Updating Fraud</a>
          </li>
          <li class="section section-receipts">
            <a class="parent" href="#receipts">Receipts</a>
          </li>
          <li class="section section-secure_storage">
            <a class="parent" href="#secure_storage">Secure Storage</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="api-docs">
      <div id="methods">
        <div class="method-position">
          <div class="method">
            <a id="intro" name="intro" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include intro_description.html %}</div>
              <div class="method-example" id="api-summary-example"></div>
            </div>
          </div>
          <div class="method">
            <a id="purchase" name="purchase" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include purchase_description.html %}</div>
              <div class="method-example">{% include purchase_example.html %}</div>
            </div>
          </div>
          <a id="single_purchase" name="single_purchase" class="section-anchor"> </a>
          <div class="method-section">
            <div class="method-description">{% include single_purchase_description.html %}</div>
            <div class="method-example">{% include single_purchase_example.html %}</div>
          </div>
          <a id="recurring_purchase" name="recurring_purchase" class="section-anchor"> </a>
          <div class="method-section">
            <div class="method-description">{% include recurring_purchase_description.html %}</div>
            <div class="method-example">{% include recurring_purchase_example.html %}</div>
          </div>
          <div class="method">
            <a id="void" name="void" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include void_description.html %}</div>
              <div class="method-example">{% include void_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="refund" name="refund" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include refund_description.html %}</div>
              <div class="method-example">{% include refund_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="txn_verification" name="txn_verification" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include txn_verification_description.html %}</div>
              <div class="method-example">{% include txn_verification_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="cc_verification" name="cc_verification" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include cc_verification_description.html %}</div>
              <div class="method-example">{% include cc_verification_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="batch" name="batch" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include batch_description.html %}</div>
              <div class="method-example">{% include batch_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="fraud" name="fraud" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include fraud_description.html %}</div>
              <div class="method-example">{% include fraud_example.html %}</div>
            </div>
          </div>
          <div class="method">
            <a id="receipts" name="receipts" class="section-anchor"> </a>
            <div class="method-section">
              <div class="method-description">{% include receipts_description.html %}</div>
              <div class="method-example">{% include receipts_example.html %}</div>
            </div>
          </div>
          <div class="method">
          <a id="secure_storage" name="secgit puure_storage" class="section-anchor"> </a> 
          <a id="secure_storage_object" name="secure_storage_object" class="section-anchor"> </a>
          <div class="method-section">
            <div class="method-description">{% include secure_storage_description.html %}</div>
            <div class="method-example">{% include secure_storage_example.html %}</div>
          </div></div>
        </div>
      </div>
    </div>
  </div>{% include salt_footer.html %}</div></body>
</html>
