---
layout: base
title: Integration Guide
---
<!DOCTYPE html>
<head>
<meta charset="utf-8">


  <meta charset="UTF-8">
  <link href="assets/salt_base/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/dev_center/css/dev_center.css" media="screen">
  <script src="assets/dev_center/javascript/jquery-1.7.2.min.js"></script>
  <script src="assets/salt_base/javascript/bootstrap.min.js"></script>
  <title>{% if page.title %}{{ page.title }}{% endif %} - SALT Technology</title>


  

  {% include salt_head.html %}
</head>
<body>
{% include salt_header.html %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
        <ul class="nav nav-list fixed-nav-list well">
          <li><a class="child" href="#introduction">Introduction</a></li>
          <li><a class="child" href="#environment">Development Environment</a></li>
          <li><a class="child" href="#api">Working With the API</a></li>
          <li><a class="child" href="#receipts">Receipts</a></li>
          <li><a class="child" href="#advanced_api">Advanced API Features</a></li>
          <li><a class="child" href="#non_page">Non-Page Specific Requirements</a></li>
          <li><a class="child" href="#certification">Certification</a></li>
          <li><a class="child" href="#moving_production">Moving to Production</a></li>
          <li><a class="child" href="#appendix">Appendix</a></li>
        </ul>
    </div>
  
    <div id="api-docs">

		<div id="methods">

				<div class="method">
					<div class="method-section">
						<div class="method-description">
      {% include doc_contents.html %}
	</div>
	</div>
	</div>
	</div>
	</div>
  </div>
  <div>
    {% include salt_footer.html %}
  </div>
</div>

</body>
