---
layout: base
title: Java Core API Reference
---
<!DOCTYPE html>
<html>
<head>

  {% include salt_head.html %}
</head>
<body class="api-docs java">
	
{% include salt_header.html %}


	<div class="container-fluid">
    <div class="row-fluid">
	
      <div class="span2" id="sidebar">
          <ul class="nav nav-list fixed-nav-list well">
            <li><a href="./core_api_ref.html">Introduction</a></li>
            <li><a href="#single_purchase">Single Purchase</a> </li>
            <li><a href="#recurring_purchase">Recurring Purchase</a></li>
            <li><a href="#void">Void</a></li>
            <li><a href="#refund">Refund</a></li>
            <li><a href="#txn_verification">Transaction Verification</a></li>
            <li><a href="#cc_verification">Credit Card Verification</a></li>
            <li><a href="#batch">Closing a Batch</a></li>
            <li><a href="#fraud">Updating Fraud</a></li>
            <li><a href="#receipts">Receipts</a></li>
            <li><a href="#secure_storage">Secure Storage</a></li>
          </ul>
      </div>


	<div id="api-docs">

		<div id="methods">

				<div class="method">
					<a id="intro" name="intro" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description"><div class="well">
<h3>Introduction</h3>

<p>
This document is meant as a quick reference for the key features of the Salt Technology Credit Card Core API.  The API is designed to help you integrate your website with the SALT payment platform.
</p>
</div></div>
						<div class="method-example">{% include intro_example.html %}</div>
					</div>
				</div>

				<a id="single_purchase" name="single_purchase"
					class="section-anchor">&nbsp;</a>
				<div class="method-section">
					<div class="method-description">{% include single_purchase_description.html %}</div>
					<div class="method-example">{% include single_purchase_example.html %}</div>
				</div>

				<a id="recurring_purchase" name="recurring_purchase"
					class="section-anchor">&nbsp;</a>
				<div class="method-section">
					<div class="method-description">{% include recurring_purchase_description.html %}</div>
					<div class="method-example">{% include recurring_purchase_example.html %}</div>
				</div>

				<div class="method">
					<a id="void" name="void" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include void_description.html %}</div>
						<div class="method-example">{% include void_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="refund" name="refund" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include refund_description.html %}</div>
						<div class="method-example">{% include refund_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="txn_verification" name="txn_verification" class="section-anchor">&nbsp;</a> 
					<div class="method-section">
						<div class="method-description">{% include txn_verification_description.html %}</div>
						<div class="method-example">{% include txn_verification_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="cc_verification" name="cc_verification" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include cc_verification_description.html %}</div>
						<div class="method-example">{% include cc_verification_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="batch" name="batch" class="section-anchor">&nbsp;</a> 
					<div class="method-section">
						<div class="method-description">{% include batch_description.html %}</div>
						<div class="method-example">{% include batch_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="fraud" name="fraud" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include fraud_description.html %}</div>
						<div class="method-example">{% include fraud_example.html %}

						</div>
					</div>
				</div>

				<div class="method">
					<a id="receipts" name="receipts" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include receipts_description.html %}</div>
						<div class="method-example">{% include receipts_example.html %}</div>
					</div>
				</div>

				<div class="method">
					<a id="secure_storage" name="secure_storage" class="section-anchor">&nbsp;</a>
					<div class="method-section">
						<div class="method-description">{% include secure_storage_description.html %}</div>
						<div class="method-example">{% include secure_storage_example.html %}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
	{% include salt_footer.html %}
	</div>
</div>
</body>
</html>
