---
layout: default
title: Java INTERAC Online Core API Reference
menu: iop-reference
---
<div class="method">
  <a id="intro" name="intro" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include iop/iop_intro_description.html %}</div>
    <div class="method-example">{% include iop/iop_intro_example.html %}</div>
  </div>
</div>
<div class="method">
  <a id="purchase" name="purchase" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include iop/iop_purchase_description.html %}</div>
    <div class="method-example">{% include iop/iop_purchase_example.html %}</div>
  </div>
</div>
<div class="method">
  <a id="refund" name="refund" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include iop/iop_refund_description.html %}</div>
    <div class="method-example">{% include iop/iop_refund_example.html %}</div>
  </div>
</div>
<div class="method">
  <a id="validate" name="validate" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include iop/iop_validate_description.html %}</div>
    <div class="method-example">{% include iop/iop_validate_example.html %}</div>
  </div>
</div>

<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
