---
layout: base
title: Integration Guide
---
<!DOCTYPE html>
<head>
<meta charset="utf-8">
  {% include salt_head.html %}
</head>
<body>
{% include salt_header.html %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="sidebar">
      <div class="sidebar-nav">
        <ul class="nav fixed-nav-list well">
          <li><a class="child" href="#introduction">Introduction</a></li>
          <li><a class="child" href="#environment">Development Environment</a></li>
          <li><a class="child" href="#api">Working With the API</a></li>
          <li><a class="child" href="#receipts">Receipts</a></li>
          <li><a class="child" href="#advanced_api">Advanced API Features</a></li>
          <li><a class="child" href="#non_page">Non-Page Specific Requirements</a></li>
          <li><a class="child" href="#certification">Certification</a></li>
          <li><a class="child" href="#moving_production">Moving to Production</a></li>
          <li><a class="child" href="#appendix">Appendix</a></li>
        </ul>
      </div>
    </div>
  
    <div class ="span9">
      {% include doc_contents.html %}
    </div>
  </div>
  <div>
    {% include salt_footer.html %}
  </div>
</div>

</body>
