---
layout: base
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="assets/bootstrap.css" rel="stylesheet">

  <script src="assets/jquery-1.7.2.min.js"></script>
  <script src="assets/bootstrap.min.js"></script>

  <title>SALT Developer Center</title>
</head>
<body>
  {% include salt_header.html %}
  
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="sidebar">
        <div class="sidebar-nav">
          <ul class="nav nav-list well">
            <li class="nav-top"><a class="child" href="getting_started.html">Get Started</a></li>
			<li class="nav-top"><a class="child" href="core_api_doc.html">Core API Guide</a></li>
			<li class="nav-top"><a class="child" href="post_api_ref.html">POST API Reference</a></li>
			<li class="nav-top"><a class="child" href="core_api_ref.html">Java Credit Card API Reference</a></li>
			<li class="nav-top"><a class="child" href="core_api_ref_iop.html">Java IOP API Reference</a></li>
			<li class="nav-top"><a class="child" href="core_api_ref_dotnet.html">.NET Credit Card API Reference</a></li>
			<li class="nav-top"><a class="child" href="core_api_ref_php.html">PHP Credit Card API Reference</a></li>
			<li class="nav-top"><a class="child" href="core_api_ref_ruby.html">Ruby Credit Card API Reference</a></li>
		  </ul>
		</div>
		</div>
		<div class ="span8 fat_bottom_margin" >
			<h3>Introduction</h3>
			<br>
			SALT offers diverse integration features including our PCI-compliance-enabling Silent Redirect as well as several popular plugins for e-Commerce shopping carts. We provide online payment processing services for both credit cards and INTERAC Online.
			After signing up for a merchant test account, the integration process may begin immediately by accessing the sandbox environment provided through the Merchant Management Console.
			SALT Payment Gateway provides flexible Core APIs capable of supporting integration in multiple programming languages such as Java, Microsoft .NET, PHP, and Ruby for both credit cards and INTERAC Online integration.
	  </div>
	</div>


</div>
  	<div>
		{% include salt_footer.html %}
	</div>

</body>
</html>
