---
layout: base
title: Developer Center
---
<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <link href="assets/salt_base/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/dev_center/css/dev_center.css" media="screen">
  <script src="assets/dev_center/javascript/jquery-1.7.2.min.js"></script>
  <script src="assets/salt_base/javascript/bootstrap.min.js"></script>
  <title>{% if page.title %}{{ page.title }}{% endif %} - SALT Technology</title>

  
  
  {% include salt_head.html %}
</head>
<body>
  {% include salt_header.html %}
  
  <div class="container-fluid">
    <div class="row-fluid">
	
      <div class="span2" id="sidebar">
          <ul class="nav nav-list fixed-nav-list well">
            <li class="nav-header">Overview</li>
            <li><a href="getting_started.html">Getting Started</a></li>
            <li><a href="core_api_doc.html">Integration Guide</a></li>
            <li class="nav-header">API Reference</li>
            <li><a href="post_api_ref.html">POST API</a></li>
            <li><a href="core_api_ref.html">Java Credit Card API</a></li>
            <li><a href="core_api_ref_iop.html">Java IOP API</a></li>
            <li><a href="core_api_ref_dotnet.html">.NET Credit Card API</a></li>
            <li><a href="core_api_ref_php.html">PHP Credit Card API</a></li>
            <li><a href="core_api_ref_ruby.html">Ruby Credit Card API</a></li>
            <li><a href="ref_error_codes.html">Error Codes</a></li>
          </ul>
      </div>


		<div class="span6">
			<div class="well fat_bottom_margin">
				<h3>Introduction</h3>
				<br>
				SALT offers diverse integration features including our PCI-compliance-enabling Silent Redirect as well as several popular plugins for e-Commerce shopping carts. We provide online payment processing services for both 
				credit cards and INTERAC Online.
				After signing up for a merchant test account, the integration process may begin immediately by accessing the sandbox environment provided through the Merchant Management Console.
				SALT Payment Gateway provides flexible Core APIs capable of supporting integration in multiple programming languages such as Java, Microsoft .NET, PHP, and Ruby for both credit cards and INTERAC Online integration.
			</div>
		</div>
	   </div>

  </div>
  <div>
		{% include salt_footer.html %}
	</div>
</body>
</html>
