---
layout: default
title: HTTPS POST API Reference
menu: post-api-reference
---
<div class="method">
  <a id="intro" name="intro" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include post/post_intro_description.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="single_purchase" name="single_purchase" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include post/post_single_purchase_description.html %}</div>
    <div class="method-example">{% include post/post_single_purchase_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="void" name="void" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_void_description.html %}</div>
    <div class="method-example">{% include post/post_void_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="refund" name="refund" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_refund_description.html %}</div>
    <div class="method-example">{% include post/post_refund_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="txn_verification" name="txn_verification" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_txn_verification_description.html %}</div>
    <div class="method-example">{% include post/post_txn_verification_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="cc_verification" name="cc_verification" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_cc_verification_description.html %}</div>
    <div class="method-example">{% include post/post_cc_verification_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="recurring_purchase" name="recurring_purchase" class="section-anchor"></a>
  <div class="method-section">
    <div class="method-description">{% include post/post_recurring_purchase_description.html %}</div>
    <div class="method-example">{% include post/post_recurring_purchase_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="batch" name="batch" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_batch_description.html %}</div>
    <div class="method-example">{% include post/post_batch_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="fraud" name="fraud" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_fraud_description.html %}</div>
    <div class="method-example">{% include post/post_fraud_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="secure_storage" name="secure_storage" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_secure_storage_description.html %}</div>
    <div class="method-example">{% include post/post_secure_storage_example.html %}</div>
  </div>
</div>

<hr/>

<div class="method">
  <a id="receipts" name="receipts" class="section-anchor"></a> 
  <div class="method-section">
    <div class="method-description">{% include post/post_results_description.html %}</div>
    <div class="method-example">{% include post/post_results_example.html %}</div>
  </div>
</div>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
