<h3>Verify Transaction</h3>

<p>
Returns the TransactionResponse of a transaction so that the transaction can be verified.
</p>

<br>

<table class="table table-bordered table-striped">
<tr>
<th>IOPHttpsTransaction.verify Arguments
<th>Description
<tr>
<td>int merchantId<td>The ID of the merchant issuing the requests.
<tr>
<td>String apiToken<td>The API token of the merchant issuing the requests.
<tr>
<td>String storeId<td>The merchant's store ID.
<tr>
<td>long transactionId<td>The transaction ID returned when the original purchase was made.
<td>String invoice<td>
<tr>
</table>