<h3>Recurring Purchase</h3>

<p>
You can use SALT’s Periodic Purchase features when the customer is billed periodically, or when splitting payment into a number of separate payments.
<br>
</p>

<div class="well align_center">

To create a recurring payment:

requestCoderecurringPurchase

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

operationCodecreate

amountThe amount of the purchase in cents.

periodicPurchaseStateCodeone of NEW(0), IN_PROGRESS(1), COMPLETE(2), ON_HOLD(3), CANCELLED(4), ERROR(5)

periodicPurchaseScheduleTypeCodeone of MONTH(0), WEEK(1), DAY(2)

periodicPurchaseIntervalLengthDuration of the interval.

orderIdMerchant assigned orderId. 

customerIdOptional meta field that can be used to describe a customer. 

startDateThe date of when to issue the first payment. If this date is null or in the past, then the first payment will be issued immediately. Cannot be modified after the first payment has been issued.

endDateThe date of when to end the payments. A payment will not be issued if it falls on this date

nextPaymentDateChange when the next payment will occur.

creditCardNumberThe PAN of the paying credit card.

expiryDateThe expiry of the paying credit card in the format MMYY.

storageTokenIdIf the customer is stored in Secure Storage, you can supply this ID instead of the customer's credit card credentials.

avsRequestCode0 or 1, Whether or not your require AVS.

cvv2RequestCode0 or 1, Whether or not your require CVV2.
</div>

<br>

<div class="well align_center">

To execute a recurring payment:

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

operationCode=execute

cvv2The purchasing credit card's CVV2.

transactionOrderIdThe order Id of the transaction you are executing.
</div>

<br>

<div class="well align_center">

To hold/resume/cancel a recurring payment:

requestCoderecurringPurchase

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

operationCodeupdate

transactionOrderIdThe order Id of the transaction you are updating.

periodicPurchaseStateCode1 = resume, 3 = hold, 4 = cancel
</div>