<h3>Single Purchase</h3>

<p>
Perform a single purchase.
</p>

<br>

<div class="well align_center">

requestCodesinglePurchase

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

orderIdMerchant assigned orderId. 

creditCardNumberThe PAN of the paying credit card.

expiryDateThe expiry of the paying credit card in the format MMYY.

storageTokenIdIf the customer is stored in Secure Storage, you can supply this ID instead of the customer's credit card credentials.

amountThe amount of the purchase in cents.

avsRequestCode0 or 1, Whether or not you require AVS.

cvv2RequestCode0 or 1, Whether or not you require CVV2.
</div>