<h3>Refund</h3>

<p>
Returns funds from a previously settled purchase to the customer.  Refunds can only be performed on a purchase that is part of an already-closed batch.
</p>

<br>

<div class="well align_center">

requestCoderefund

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

transactionIdThe ID of the transaction you are refunding.

transactionOrderIdThe order Id of the transaction you are refunding.

orderIdThe merchant assigned orderId to be attached to this refund request.
amountThe amount of the purchase in cents.
</div>