<h3>Void</h3>

<p>
Cancels a transaction, preventing it from being settled.  A Void can only be performed on a transaction belonging to the current batch, before the current batch is closed (i.e. before the end of day).
</p>

<br>

<div class="well align_center">

requestCodevoid

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

transactionIdThe ID of the transaction you are voiding.

transactionOrderIdThe order Id of the transaction you are voiding.
</div>