<h3>Credit Card Verification</h3>
<p>
Use a verifyCreditCard request to check the status of a credit card. The returned receipt will contain information about the card’s validity, Secure Storage information if the card uses Secure Storage and Fraud information if the card uses the Advanced Fraud Suite.
</p>

<br>

<div class="well align_center">

requestCodeverifyCreditCard

merchantIdYour merchant ID.

apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

creditCardNumberThe PAN of the paying credit card.

expiryDateThe expiry of the paying credit card in the format MMYY.

avsRequestCode0 or 1, Whether or not your require AVS.

cvv2RequestCode0 or 1, Whether or not your require CVV2.

</div>