<h3>
Secure Storage
</h3>

<p>
With the Secure Storage API, merchants can remotely store credit card and other sensitive customer data with SALT to increase security and reduce the scope of PCI Compliance.
</p>
<p>
When information is stored with SALT, a ‘Storage Token’ (which identifies the information in secure storage) is returned in response.  This Storage Token can be used for all subsequent transactions including purchases and credit card verification.
</p>

<br>

<div class="well align_center">

requestCodesecureStorage

merchantIdYour merchant ID.


apiToken Your API Token.

marketSegmentCodeI (Internet) or M (Mail/Telephone)

operationCodecreate

storageTokenIdMerchant defined storage token ID.

creditCardNumberThe PAN of the paying credit card.

expiryDateThe expiry of the paying credit card in the format MMYY.

profileFirstNameThe customer's first name.

profileLastNameThe customer's last name.

profilePhoneNumberThe customer's phone number.

profileAddress1The customer's address.

profilePostalThe customer's postal code.
</div>
