<h3>Receipts</h3>

<p>
For full details on what needs to be included in a purchase receipt, check out our full documentation <a href="http://salttechnology.github.io/core_api_doc.htm">here</a>
</p>

<br>

<div class="well align_center">

CreditCardReceipt

getCvv2Response()	Returns a Cvv2Response when performing a transaction with a VerificationRequest.

getPeriodicPurchaseInfo()	Returns PeriodicPurchaseInfo when performing a recurring payment.

getStorageTokenId()	Returns the storage token used when setting up Secure Storage.

getOrderId()	Returns the merchant assigned orderId for a purchase or refund.

getResponse()	Returns the response from the creditcard gateway.
</div>