<div class="well">
  <h3>Refund</h3>
  <p>Returns funds from a previously settled purchase to the customer. Refunds can only be performed on a purchase that is part
  of an already-closed batch.</p>
  <br />
  <table class="table table-bordered table-striped">
	<tr>
	  <th>HttpsCreditCardService.refund Arguments</th>
	  <th>Description</th>
	</tr>
	<tr>
	  <td>long purchaseId</td>
	  <td>The SALT transactionId of the purchase to void.</td>
	</tr>
	<tr>
	  <td>String purchaseOrderId</td>
	  <td>The order ID previously assigned to the purchase that is to be refunded.</td>
	</tr>
	<tr>
	  <td>String refundOrderId</td>
	  <td>The merchant assigned orderId to be attached to this refund request. Will be generated if null.</td>
	</tr>
	<tr>
	  <td>long amount</td>
	  <td>The amount to refund in cents.</td>
	</tr>
  </table>
</div>
