<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <p class="pull-right">
                    <a href="javascript:void(0)" onclick="$(window).scrollTop(0)">Back to Top</a>
                </p>
                <p>
                    <ul class="footer-links">
                        <li><a href="http://www.admeris.com/legal/">Terms of Use</a></li>
                        <li><a href="http://www.admeris.com/privacy/">Privacy</a></li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <p class="pull-right">
                    <span class="copyright">
                        
                    </span>
                </p>
                <p>
                    <span class="copyright">
                        Copyright &copy; 2013 SALT Technology Inc. All rights reserved.
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
