  <div class="navbar navbar-fixed-top" >
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="http://saltechnology.github.io"><img alt="Logo" src="images/salt-logo-tiny.png"/></a>
        <span class="brand">SALT</span>
        <ul class="nav pull-right">
		<li><a id="managementLink" href="https://test.salt.com/merchantmanagement/public/security/login">Console</a>
        <li><a id="developersLink" href="http://salttechnology.github.io/">Developers</a>
          <li class="dropdown">
            <a id="supportLink" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a id="supportMailLink" href="https://test.salt.com/merchantmanagement/public/security/login" data-toggle="modal">Mail Support...</a>
              <li class="divider">
              <li><address>Phone: 1-866-854-9851</address>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>