<h4>Create Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=create
amount=1000
periodicPurchaseStateCode=0
periodicPurchaseScheduleTypeCode=2
periodicPurchaseIntervalLength=5
orderId=orderid
customerId=customerid
startDate=2013-06-17
endDate=2013-06-17
nextPaymentDate=2013-06-17
creditCardNumber=4242424242424242
expiryDate=1231
avsRequestCode=0
cvv2RequestCode=1
</pre>

<h4>Execute Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=execute
cvv2=cvv
transactionId=1
</pre>



<h4>Hold Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=update
transactionId=1
periodicPurchaseStateCode=3
</pre>

<h4>Resume Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=update
transactionId=1
periodicPurchaseStateCode=1
</pre>

<h4>Update Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=update
transactionId=0
amount=1000
periodicPurchaseStateCode=0
periodicPurchaseScheduleTypeCode=2
periodicPurchaseIntervalLength=5
orderId=orderid
customerId=customerid
startDate=2013-06-17
endDate=2013-06-17
nextPaymentDate=2013-06-17
creditCardNumber=4444444444444444
expiryDate=1231
avsRequestCode=0
cvv2RequestCode=1
</pre>

<h4>Cancel Recurring Purchase</h4>
<pre class="prettyprint linenums">
requestCode=recurringPurchase
merchantId=1
apiToken=token
marketSegmentCode=I
operationCode=update
transactionId=1
periodicPurchaseStateCode=4
</pre>
