<!DOCTYPE html>
<html>
  <head>
    {% include salt_head.html %} 
    {% include layout/prettify_head.html %} 
  </head>
  <body>
    {% include salt_header.html %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" id="sidebar">
          <div class="affix">
            <ul class="salt-side-nav nav nav-list well">
              <h4>Main Menu</h4>
              <li class="nav-header">Overview</li>
              <li><a href="getting_started.html">Getting Started</a></li>
              <li><a href="client_libraries.html">Client Libraries</a>
              {% if page.menu == 'client-libraries' %}
                <ul class="salt-sub-nav nav nav-list">
                  <li><a href="#java">Java</a></li>
                  <li><a href="#net">.Net</a></li>
                  <li><a href="#php">PHP</a></li>
                  <li><a href="#ruby">Ruby</a></li>
                </ul>
              {% endif %}
              </li>
              <li><a href="integration_guide.html">Integration Guide</a>
              {% if page.menu == 'guide' %}
                <ul class="salt-sub-nav nav nav-list">
                  <li><a href="#introduction">Introduction</a></li>
                  <li><a href="#environment">Sandbox Environment</a></li>
                  <li><a href="#api">Working With the API</a></li>
                  <li><a href="#receipts">Receipts</a></li>
                  <li><a href="#advanced_api">Advanced API Features</a></li>
                  <li><a href="#non_page">Non-Page Specific Requirements</a></li>
                  <li><a href="#certification">Certification</a></li>
                  <li><a href="#moving_production">Moving to Production</a></li>
                  <li><a href="#appendix">Appendix</a></li>
                </ul>
              {% endif %}
              </li>
              <!--    <li><a href="faq.html">FAQ</a></li> -->
              <li class="nav-header">API Reference</li>
              <li><a href="post_api_ref.html">POST API</a>
              {% if page.menu == 'post-api-reference' %}
                <ul class="salt-sub-nav nav nav-list">
                  <li><a href="./core_api_ref.html">Introduction</a></li>
                  <li><a href="#single_purchase">Single Purchase</a></li>
                  <li><a href="#void">Void</a></li>
                  <li><a href="#refund">Refund</a></li>
                  <li><a href="#txn_verification">Transaction Verification</a></li>
                  <li><a href="#cc_verification">Credit Card Verification</a></li>
                  <li><a href="#recurring_purchase">Recurring Payments</a></li>
                  <li><a href="#batch">Closing a Batch</a></li>
                  <li><a href="#fraud">Updating Fraud</a></li>
                  <li><a href="#receipts">Receipts</a></li>
                  <li><a href="#secure_storage">Secure Storage</a></li>
                </ul>
              {% endif %}
              </li>
              <li><a href="core_api_ref.html">Credit Card API</a>
              {% if page.menu == 'credit-card-reference' %}
                <ul class="salt-sub-nav nav nav-list">
                  <li><a href="./core_api_ref.html">Introduction</a></li>
                  <li><a href="#single_purchase">Single Purchase</a></li>
                  <li><a href="#void">Void</a></li>
                  <li><a href="#refund">Refund</a></li>
                  <li><a href="#txn_verification">Transaction Verification</a></li>
                  <li><a href="#cc_verification">Credit Card Verification</a></li>
                  <li><a href="#recurring_purchase">Recurring Payments</a></li>
                  <li><a href="#batch">Closing a Batch</a></li>
                  <li><a href="#fraud">Updating Fraud</a></li>
                  <li><a href="#receipts">Receipts</a></li>
                  <li><a href="#secure_storage">Secure Storage</a></li>
                </ul>
              {% endif %}
              </li>
              <!-- <li><a href="core_api_ref_iop.html">IOP API</a>
              {% if page.menu == 'iop-reference' %}
                <ul class="salt-sub-nav nav nav-list">
                  <h4>IOP API</h4>
                  <li><a href="./core_api_ref_iop.html">Introduction</a></li>
                  <li><a href="#purchase">Purchase</a></li>
                  <li><a href="#refund">Refund</a></li>
                  <li><a href="#validate">Transaction Verification</a></li>
                  <li><a href="#receipts">Receipts</a></li>
                </ul>
              {% endif %}
              </li> -->
              <li><a href="ref_error_codes.html">Error Codes</a></li>
              <li><a href="ref_testing.html">Sandbox Testing</a></li>
            </ul>
          </div>
        </div>
        <div class="span9 salt-content">
          {{ content }}
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
    {% include salt_footer.html %}
  </body>
</html>
<!-- Copyright (c) 2013 SALT Technology Inc. All rights reserved. -->
