body.api-docs div#api-docs {
	background: white;
	margin-left: 223px;
	position: relative;
	z-index: 45
}

body.api-docs div#api-docs div#methods {
	position: relative;
	z-index: 50
}

body.api-docs div#api-docs div#methods .method {
	position: relative
}

body.api-docs div#api-docs div#methods .method-section {
	clear: left;
	font-size: 13px;
	padding: 0 10px 45px 0;
	position: relative
}

body.api-docs div#api-docs div#methods .method-section .method-description
	{
	color: #444444;
	float: left;
	width: 65%
}

body.api-docs div#api-docs div#methods .method-section .method-description
		{
		width: 640px
	}

body.api-docs div#api-docs div#methods .method-section .method-example {
	overflow: hidden;
	margin-left: 20%;
	padding: 0;
	width: auto
}

#sidebar {
  min-width: 180px;
}

body > .container-fluid {
  padding-top: 40px;
}


#sidebar .fixed-nav-list {
  overflow: hidden;
  position:fixed;
  width: 180px;
  margin-top: 30px;
}

.span6{margin-top: 30px;}

.navbar-fixed-top .navbar-inner {
  padding-left:20px;
  padding-right:20px;
}

.fat_bottom_margin{margin-bottom:500px}
