h1 {
  font-size: 30px;
}

hr {
  border-style: dotted;
  border-color: rgb(204, 204, 204);
  border-image: none;
  border-width: 1px 0px 0px;
  clear:both;
  margin: 30px 0px;
}

/* "Two-column" content for API reference */
.method-section {
  clear: left;
  padding: 0 0 45px 0;
  position: relative
}

.method-section .method-description {
  color: #444444;
  float: left;
  width: 50%;
}

.method-section .method-example {
  left: 20px;
  margin-left: 50%;
  top: 60px;
  padding: 0;
  position: relative;
  width: auto;
}

/* "Single-column" guide-ish content */
.salt-guide-section {
  max-width: 700px;
}

body > .container-fluid {
  padding-top: 31px;
}


#sidebar .salt-side-nav {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  #sidebar .salt-side-nav {
    width: 238px;
  }
}

@media (max-height: 750px) {
  #sidebar > div.affix {
    position: static;
  }
}

@media (max-width: 1200px) {
  .method-section .method-description {
    width: 450px;
  }
  .method-section .method-example{
    width: 450px;
    margin-left: 450px;
  }
}

.navbar-fixed-top .navbar-inner {
  padding-left:20px;
  padding-right:20px;
}

.salt-content {
  padding-top: 30px;
}
