div#api-docs {
	background: white;
	margin-left: 298px;
	position: relative;
	z-index: 45
}

div#api-docs div#methods {
	position: relative;
	z-index: 50
}

div#api-docs div#methods .method {
	position: relative
}

div#api-docs div#methods .method-section {
	clear: left;
	font-size: 13px;
	padding: 0 0 45px 0;
	position: relative
}

div#api-docs div#methods .method-section .method-description
	{
	color: #444444;
	float: left;
	width: 65%;
	margin-right: 10px;
}

div#api-docs div#methods .method-section .method-description
		{
		width: 640px
	}

div#api-docs div#methods .method-section .method-example {
	overflow: hidden;
	margin-left: 20%;
	padding: 0;
	width: auto
}

#sidebar {
  min-width: 180px;
}

body > .container-fluid {
  padding-top: 31px;
}


#sidebar .fixed-nav-list {
  overflow: hidden;
  position:fixed;
  width: 270px;
  margin-top: 30px;
  padding: 0;
}

.span6{margin-top: 30px;margin-left:0px;position: relative;clear: left;}

.navbar-fixed-top .navbar-inner {
  padding-left:20px;
  padding-right:20px;
}

.second_sidebar_margin{
	margin-top: 150px;
}

.fat_bottom_margin{margin-bottom:500px;}
